<img src="../Base/images/liga logo.png" width="500"/>

<img src="../Base/images/python logo.png" width="165"/>

<center>

    
# Курс "Основы программирования на Python"

## 3. Функции ввода-вывода и встроенные типы данных

### 3.1 Функция ввода

Функция `print()` выводит все элементы, разделяя их значением `sep`, и завершает вывод значением `end`.

```python
print(*items, sep=' ', end='\n')
```

In [1]:
print('Энергия', 'Доверие', 'Экспертиза', sep='**', end='!')

Энергия**Доверие**Экспертиза!

* **`sep`**

Параметр `sep` контролирует то, какой разделитель будет использоваться между элементами.

По умолчанию используется пробел:

In [2]:
print(1, 2, 3)

1 2 3

Можно изменить значение `sep` на любую другую строку:

In [3]:
print(1, 2, 3, sep='|')

1|2|3

In [4]:
print(1, 2, 3, sep='\n')

1
2
3

In [5]:
print(1, 2, 3, sep=f"\n{'-' * 10}\n")

1
----------
2
----------
3

* **`end`**

Параметр `end` контролирует то, какое значение выведется после вывода всех элементов. По умолчанию используется перевод строки:

In [6]:
print(1, 2, 3)

1 2 3

Можно изменить значение `end` на любую другую строку:

In [7]:
print(1, 2, 3, end='\n'+'-'*10)

1 2 3
----------

### 3.2 Функция вывода

Иногда необходимо получить информацию от пользователя, для этого используется функция `input`.

In [8]:
print(input('Твой любимый диалект SQL? '))

Твой любимый диалект SQL? hql
hql

В данном случае информация тут же выводится пользователю, но кроме этого, информация, которую ввел пользователь, может быть сохранена в какую-то переменную и может использоваться далее в скрипте.

In [9]:
protocol = input('Твой любимый диалект SQL? ')

Твой любимый диалект SQL? hql

In [10]:
print(protocol)

hql

In [11]:
a = int(input('a = '))
b = int(input('b = '))

print('a + b =', a + b)

a = 5
b = 3
a + b = 8

## 4. Встроенные типы данных

В Python есть несколько стандартных типов данных:

- Numbers (числа)
- Strings (строки)
- Lists (списки)
- Dictionaries (словари)
- Tuples (кортежи)
- Sets (множества)
- Boolean (логический тип данных)

Эти типы данных можно, в свою очередь, классифицировать по нескольким признакам:

- изменяемые (списки, словари и множества)
- неизменяемые (числа, строки и кортежи)
- упорядоченные (списки, кортежи, строки и словари)
- неупорядоченные (множества)


### 4.1 Числа

С числами можно выполнять различные математические операции.

In [12]:
1 + 2

3

In [13]:
1.0 + 2

3.0

In [14]:
10 - 4

6

In [15]:
2**3

8

Деление `int` и `float`:

In [16]:
10/3

3.3333333333333335

In [17]:
10/3.0

3.3333333333333335

С помощью функции `round` можно округлять числа до нужного количества знаков:

In [18]:
round(10/3.0, 2)

3.33

In [19]:
round(10/3.0, 4)

3.3333

Остаток от деления:

In [20]:
10 % 3

1

Операторы сравнения

In [21]:
10 > 3.0

True

In [22]:
10 < 3

False

In [23]:
10 == 3

False

In [24]:
10 == 10

True

In [25]:
10 <= 10

True

In [26]:
10.0 == 10

True

Функция `int()` позволяет выполнять конвертацию в тип `int`. Во втором аргументе можно указывать систему счисления:

In [27]:
a = '11'

In [28]:
int(a)

11

Если указать, что строку `a` надо воспринимать как двоичное число, то результат будет таким:

In [29]:
int(a, 2)

3

Конвертация в `int` типа `float`:

In [30]:
int(3.333)

3

In [31]:
int(3.9)

3

Функция `bin` позволяет получить двоичное представление числа (обратите внимание, что результат - строка):

In [32]:
bin(8)

'0b1000'

In [33]:
bin(255)

'0b11111111'

Аналогично, функция `hex()` позволяет получить шестнадцатеричное значение:

In [34]:
hex(10)

'0xa'

И, конечно же, можно делать несколько преобразований одновременно:

In [35]:
int('ff', 16)

255

In [36]:
bin(int('ff', 16))

'0b11111111'

Для более сложных математических функций в Python есть модуль `math`:

In [37]:
import  math

math.sqrt(9)

3.0

In [38]:
math.sqrt(10)

3.1622776601683795

In [39]:
math.factorial(3)

6

In [40]:
math.pi

3.141592653589793

##### Арифметические выражения
Мы уже использовали арифметические выражения в наших программах, в частности операции + и *. Также существует ряд других арифметических операций, которые приведены в таблице:

| Знак | Операция              | Операнд 1  | Операнд 2 | Результат|
|:-----|:----------------------|:---------- |:----------|:---------|
| +	   | Сложение              | 11         |	6       | 17       |
| -	   | Вычитание             | 11         |	6       | 5        |
| *	   | Умножение             | 11         |	6       | 66       |
| //   | Целочисленное деление | 11	        |6	        |1         |
| %	   | Остаток от деления    | 11	        |6	        |5         |
| **   | Возведение в степень  | 2	        |3	        |8         |

### 4.2  Строки (Strings)

Строка в Python это:
- последовательность символов, заключенная в кавычки
- неизменяемый упорядоченный тип данных

Примеры строк:

In [41]:
'Hello'

'Hello'

In [42]:
"Hello"

'Hello'

In [43]:
tunnel = """ interface Tunnel0
             ip address 10.10.10.1 255.255.255.0
             ip mtu 1416
             ip ospf hello-interval 5
             tunnel source FastEthernet1/0
             tunnel protection ipsec profile DMVPN
         """

In [44]:
tunnel

' interface Tunnel0\n             ip address 10.10.10.1 255.255.255.0\n             ip mtu 1416\n             ip ospf hello-interval 5\n             tunnel source FastEthernet1/0\n             tunnel protection ipsec profile DMVPN\n         '

In [45]:
print(tunnel)

 interface Tunnel0
             ip address 10.10.10.1 255.255.255.0
             ip mtu 1416
             ip ospf hello-interval 5
             tunnel source FastEthernet1/0
             tunnel protection ipsec profile DMVPN

Строки можно суммировать. Тогда они объединяются в одну строку:

In [46]:
intf = 'interface'

tun = 'Tunnel0'

intf + tun

'interfaceTunnel0'

In [47]:
intf + ' ' + tun

'interface Tunnel0'

Строку можно умножать на число. В этом случае, строка повторяется указанное количество раз:

In [48]:
intf * 5

'interfaceinterfaceinterfaceinterfaceinterface'

In [49]:
'#' * 40

'########################################'

То, что строки являются упорядоченным типом данных, позволяет обращаться к символам в строке по номеру, начиная с нуля:

In [50]:
string1 = 'interface FastEthernet1/0'

string1[0]

'i'

Нумерация всех символов в строке идет с нуля. Но, если нужно обратиться к какому-то по счету символу, начиная с конца, то можно указывать отрицательные значения (на этот раз с единицы).

In [51]:
string1[1]

'n'

In [52]:
string1[-1]

'0'

Кроме обращения к конкретному символу, можно делать срезы строк, указав диапазон номеров (срез выполняется по второе число, не включая его):

In [53]:
string1[0:9]

'interface'

In [54]:
string1[10:22]

'FastEthernet'

Если не указывается второе число, то срез будет до конца строки:

In [55]:
string1[10:]

'FastEthernet1/0'

Срезать три последних символа строки:

In [56]:
string1[-3:]

'1/0'

Также в срезе можно указывать шаг. Так можно получить нечетные числа:

In [57]:
a = '0123456789'
a[1::2]

'13579'

А таким образом можно получить все четные числа строки `a`:

In [58]:
a[::2]

'02468'

Срезы также можно использовать для получения строки в обратном порядке:

In [59]:
a = '0123456789'
a[::]

'0123456789'

In [60]:
a[::-1]

'9876543210'

*Примечание:*

Записи `a[::]` и `a[:]` дают одинаковый результат, но двойное двоеточие позволяет указывать, что надо брать не каждый элемент, а, например, каждый второй.

Функция `len` позволяет получить количество символов в строке:

In [61]:
line = 'interface Gi0/1'

len(line)

15

*Примечание:*

Функция и метод отличаются тем, что метод привязан к объекту конкретного типа, а функция, как правило, более универсальная и может применяться к объектам разного типа. Например, функция `len` может применяться к строкам, спискам, словарям и так далее, а метод `startswith` относится только к строкам.

#### 4.2.1  Полезные методы для работы со строками:

* **Методы `upper`, `lower`, `swapcase`, `capitalize`**

Методы `upper()`, `lower()`, `swapcase()`, `capitalize()` выполняют преобразование регистра строки:

Строки неизменяемый тип данных, поэтому все методы, которые преобразуют строку возвращают новую строку, а исходная строка остается неизменной.

In [62]:
string1 = 'FastEthernet'

In [63]:
string1.upper()

'FASTETHERNET'

In [64]:
string1.lower()

'fastethernet'

In [65]:
string1.swapcase()

'fASTeTHERNET'

In [66]:
string2 = 'tunnel 0'

In [67]:
string2.capitalize()

'Tunnel 0'

* **Метод `count`**

Метод `count()` используется для подсчета того, сколько раз символ или подстрока встречаются в строке:

In [68]:
string1 = 'Hello, hello, hello, hello'

In [69]:
string1.count('hello')

3

In [70]:
string1.count('ello')

4

In [71]:
string1.count('l')

8

* **Метод `find`**

Методу `find()` можно передать подстроку или символ, и он покажет, на какой позиции находится первый символ подстроки (для первого совпадения).

Если совпадение не найдено, метод `find` возвращает -1.

In [72]:
string1 = 'interface FastEthernet0/1'

In [73]:
string1.find('Fast')

10

In [74]:
string1[string1.find('Fast')::]

'FastEthernet0/1'

* **Методы `startswith`, `endswith`**

Проверка на то, начинается или заканчивается ли строка на определенные символы (методы `startswith()`, `endswith()`):

In [75]:
string1 = 'FastEthernet0/1'
string1.startswith('Fast')

True

In [76]:
string1.startswith('fast')

False

In [77]:
string1.endswith('0/1')

True

In [78]:
string1.endswith('0/2')

False

Методам `startswith()` и `endswith()` можно передавать несколько значений (обязательно как кортеж):

In [79]:
"test".startswith(("r", "t"))

True

In [80]:
"test".startswith(("r", "a"))

False

In [81]:
"rtest".startswith(("r", "a"))

True

In [82]:
"rtest".endswith(("r", "a"))

False

In [83]:
"rtest".endswith(("r", "t"))

True

* **Метод `replace`**

Замена последовательности символов в строке на другую последовательность (метод `replace()`):

In [84]:
string1 = 'FastEthernet0/1'

In [85]:
string1.replace('Fast', 'Gigabit')

'GigabitEthernet0/1'

* **Метод `strip`**

Часто при обработке файла файл открывается построчно. Но в конце каждой строки, как правило, есть какие-то спецсимволы (а могут быть и в начале). Например, перевод строки.

Для того, чтобы избавиться от них, очень удобно использовать метод `strip()`:

In [86]:
string1 = '\n\tinterface FastEthernet0/1\n'
print(string1)

	interface FastEthernet0/1

In [87]:
string1

'\n\tinterface FastEthernet0/1\n'

In [88]:
string1.strip()

'interface FastEthernet0/1'

По умолчанию метод `strip()` убирает пробельные символы. В этот набор символов входят: \t\n\r\f\v

Методу `strip` можно передать как аргумент любые символы. Тогда в начале и в конце строки будут удалены все символы, которые были указаны в строке:

In [89]:
ad_metric = '[110/1045]'
ad_metric.strip('[]')

'110/1045'

Метод `strip()` убирает спецсимволы и в начале, и в конце строки. Если необходимо убрать символы только слева или только справа, можно использовать, соответственно, методы `lstrip()` и `rstrip()`.

* **Метод `split`**

Метод `split()` разбивает строку на части, используя как разделитель какой-то символ (или символы) и возвращает список строк:

In [90]:
string1 = 'switchport trunk allowed vlan 10,20,30,100-200'
commands = string1.split()
print(commands)

['switchport', 'trunk', 'allowed', 'vlan', '10,20,30,100-200']

В примере выше `string1.split()` разбивает строку по пробельным символам и возвращает список строк. Список записан в переменную commands.

По умолчанию в качестве разделителя используются пробельные символы (пробелы, табы, перевод строки), но в скобках можно указать любой разделитель:

In [91]:
lt = commands[-1].split(',')
print(lt)

['10', '20', '30', '100-200']

Используется индекс -1, чтобы вывести последний элемент в массиве. Затем строка разбивается на части с помощью `split` `commands[-1].split(',')`. Так как, как разделитель указана запятая, получен такой список ['10', '20', '30', '100-200'].

Пример разделения адреса на октеты:

In [92]:
ip = "192.168.100.1"
ip.split(".")

['192', '168', '100', '1']

Полезная особенность метода `split` с разделителем по умолчанию — строка не только разделяется в список строк по пробельным символам, но пробельные символы также удаляются в начале и в конце строки:

In [93]:
string1 = '  switchport trunk allowed vlan 10,20,30,100-200\n\n'

string1.split()

['switchport', 'trunk', 'allowed', 'vlan', '10,20,30,100-200']

У метода `split()` есть ещё одна хорошая особенность: по умолчанию метод разбивает строку не по одному пробельному символу, а по любому количеству.

In [94]:
sh_ip_int_br = "FastEthernet0/0       15.0.15.1    YES manual up         up"
sh_ip_int_br.split()

['FastEthernet0/0', '15.0.15.1', 'YES', 'manual', 'up', 'up']

А вот так выглядит разделение той же строки, когда один пробел используется как разделитель:

In [95]:
sh_ip_int_br.split(' ')

['FastEthernet0/0',
 '',
 '',
 '',
 '',
 '',
 '',
 '15.0.15.1',
 '',
 '',
 '',
 'YES',
 'manual',
 'up',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'up']

#### 4.2.2   Форматирование строк

При работе со строками часто возникают ситуации, когда в шаблон строки надо подставить разные данные.

Это можно делать объединяя, части строки и данные, но в Python есть более удобный способ — форматирование строк.

Форматирование строк может помочь, например, в таких ситуациях:

- необходимо подставить значения в строку по определенному шаблону
- необходимо отформатировать вывод столбцами
- надо конвертировать числа в двоичный формат

Существует несколько вариантов форматирования строк:

- с оператором `%` — более старый вариант
- метод `format()` — относительно новый вариант
- f-строки — новый вариант, который появился в Python 3.6.

Несмотря на то, что рекомендуется использовать метод `format`, часто можно встретить форматирование строк и через оператор `%`.

* **Метод `format`**

Пример использования метода `format`:

In [96]:
"interface FastEthernet0/{}".format('1')

'interface FastEthernet0/1'

Специальный символ `{}` указывает, что сюда подставится значение, которое передается методу `format`. При этом каждая пара фигурных скобок обозначает одно место для подстановки.

Значения, которые подставляются в фигурные скобки, могут быть разного типа. Например, это может быть строка, число или список:

In [97]:
print('{}'.format('10.1.1.1'))

10.1.1.1

In [98]:
print('{}'.format(100))

100

In [99]:
print('{}'.format([10, 1, 1,1]))

[10, 1, 1, 1]

* **Метод `f-строка`**

В Python 3.6 добавился новый вариант форматирования строк - `f-строки` или интерполяция строк. `F-строки` позволяют не только подставлять какие-то значения в шаблон, но и позволяют выполнять вызовы функций, методов и т.п.

Во многих ситуациях `f-строки` удобней и проще использовать, чем `format`, кроме того, `f-строки` работают быстрее, чем `format` и другие методы форматирования строк.

Синтаксис:
`F-строки` — это литерал строки с буквой `f` перед ним. Внутри `f-строки` в паре фигурных скобок указываются имена переменных, которые надо подставить:

In [100]:
ip = '10.1.1.1'
mask = 24

f"IP: {ip}, mask: {mask}"

'IP: 10.1.1.1, mask: 24'

Аналогичный результат с `format` можно получить так:

In [101]:
"IP: {ip}, mask: {mask}".format(ip=ip, mask=mask)

'IP: 10.1.1.1, mask: 24'

Очень важное отличие `f-строк` от `format`: `f-строки` — это выражение, которое выполняется, а не просто строка. То есть, в случае с jupyter, как только мы написали выражение и нажали Enter, оно выполнилось и вместо выражений `{ip}` и `{mask}` подставились значения переменных.

Поэтому, например, нельзя сначала написать шаблон, а затем определить переменные, которые используются в шаблоне:

In [102]:
f"IP: {ip_1}, mask: {mask_2}"

NameError: name 'ip_1' is not defined

Кроме подстановки значений переменных, в фигурных скобках можно писать выражения:

In [103]:
first_name = 'William'

second_name = 'Shakespeare'

In [104]:
f"{first_name.upper()} {second_name.upper()}"

'WILLIAM SHAKESPEARE'

После двоеточия в f-строках можно указывать те же значения, что и при использовании format:

In [105]:
oct1, oct2, oct3, oct4 = [10, 1, 1, 1]

print(f'''
    : IP address:
    : {oct1:<8} {oct2:<8} {oct3:<8} {oct4:<8}
    : {oct1:08b} {oct2:08b} {oct3:08b} {oct4:08b}''')

    : IP address:
    : 10       1        1        1
    : 00001010 00000001 00000001 00000001

### 4.3  Список (List)
Список в Python - это последовательность элементов, разделенных между собой запятой и заключенных в квадратные скобки
изменяемый упорядоченный тип данных

Примеры списков:

In [106]:
list1 = [10,20,30,77]
list2 = ['one', 'dog', 'seven']
list3 = [1, 20, 4.0, 'word']

Создание списка с помощью литерала (Литерал - это выражение, которое создает объект):

In [107]:
vlans = [10, 20, 30, 50]

Создание списка с помощью функции `list()`:

In [108]:
list1 = list('router')

print(list1)

['r', 'o', 'u', 't', 'e', 'r']

Так как список - это упорядоченный тип данных, то, как и в строках, в списках можно обращаться к элементу по номеру, делать срезы:

In [109]:
In [4]: list3 = [1, 20, 4.0, 'word']

In [5]: list3[1]
Out[5]: 20

In [6]: list3[1::]
Out[6]: [20, 4.0, 'word']

In [7]: list3[-1]
Out[7]: 'word'

In [8]: list3[::-1]
Out[8]: ['word', 4.0, 20, 1]

Перевернуть список наоборот можно и с помощью метода `reverse()`:

In [110]:
In [10]: vlans = ['10', '15', '20', '30', '100-200']

In [11]: vlans.reverse()

In [12]: vlans
Out[12]: ['100-200', '30', '20', '15', '10']

Так как списки изменяемые, элементы списка можно менять:

In [111]:
In [13]: list3
Out[13]: [1, 20, 4.0, 'word']

In [14]: list3[0] = 'test'

In [15]: list3
Out[15]: ['test', 20, 4.0, 'word']

Можно создавать и список списков. И, как и в обычном списке, можно обращаться к элементам во вложенных списках:

In [112]:
interfaces = [['FastEthernet0/0', '15.0.15.1', 'YES', 'manual', 'up', 'up'],
              ['FastEthernet0/1', '10.0.1.1', 'YES', 'manual', 'up', 'up'],
              ['FastEthernet0/2', '10.0.2.1', 'YES', 'manual', 'up', 'down']]

interfaces[0][0]

'FastEthernet0/0'

In [113]:
interfaces[2][0]

'FastEthernet0/2'

In [114]:
interfaces[2][1]

'10.0.2.1'

Функция `len` возвращает количество элементов в списке:

In [115]:
items = [1, 2, 3]

len(items)

3

А функция `sorted` сортирует элементы списка по возрастанию и возвращает новый список с отсортированными элементами:

In [116]:
names = ['John', 'Michael', 'Antony']

sorted(names)

['Antony', 'John', 'Michael']

#### 4.3.1 Полезные методы для работы со списками

Список - это изменяемый тип данных, поэтому очень важно обращать внимание на то, что большинство методов для работы со списками меняют список на месте, при этом ничего не возвращая.

* **`join`**

Метод `join` собирает список строк в одну строку с разделителем, который указан перед `join`:

In [117]:
vlans = ['10', '20', '30']

','.join(vlans)

'10,20,30'

*Примечание:*

Метод `join` на самом деле относится к строкам, но так как значение ему надо передавать как список, он рассматривается тут.

* **`append`**

Метод append добавляет в конец списка указанный элемент:

In [118]:
vlans = ['10', '20', '30', '100-200']

vlans.append('300')

vlans

['10', '20', '30', '100-200', '300']

Метод append меняет список на месте и ничего не возвращает.

* **`extend`**

Если нужно объединить два списка, то можно использовать два способа: метод `extend` и операцию сложения.

У этих способов есть важное отличие - `extend` меняет список, к которому применен метод, а суммирование возвращает новый список, который состоит из двух.

Метод `extend`:

In [119]:
vlans = ['10', '20', '30', '100-200']

vlans2 = ['300', '400', '500']

vlans.extend(vlans2)

vlans

['10', '20', '30', '100-200', '300', '400', '500']

* **Суммирование списков:**

In [120]:
vlans = ['10', '20', '30', '100-200']

vlans2 = ['300', '400', '500']

vlans + vlans2

['10', '20', '30', '100-200', '300', '400', '500']

Обратите внимание на то, что при суммировании списков в jupyter появилась строка Out. Это означает, что результат суммирования можно присвоить в переменную:

In [121]:
result = vlans + vlans2

result

['10', '20', '30', '100-200', '300', '400', '500']

* **`pop`**

Метод `pop` удаляет элемент, который соответствует указанному номеру. Но, что важно, при этом метод возвращает этот элемент:

In [122]:
vlans = ['10', '20', '30', '100-200']

vlans.pop(-1)

'100-200'

In [123]:
vlans

['10', '20', '30']

Без указания номера удаляется последний элемент списка.

* **`remove`**

Метод `remove` удаляет указанный элемент.

`remove()` не возвращает удаленный элемент:

In [124]:
vlans = ['10', '20', '30', '100-200']

vlans.remove('20')

vlans

['10', '30', '100-200']

В методе `remove` надо указывать сам элемент, который надо удалить, а не его номер в списке. Если указать номер элемента, возникнет ошибка:

In [125]:
vlans.remove(-1)

ValueError: list.remove(x): x not in list

* **`index`**

Метод `index` используется для того, чтобы проверить, под каким номером в списке хранится элемент:

In [126]:
vlans = ['10', '20', '30', '100-200']

vlans.index('30')

2

* **`insert`**

Метод `insert` позволяет вставить элемент на определенное место в списке:

In [127]:
vlans = ['10', '20', '30', '100-200']

vlans.insert(1, '15')

vlans

['10', '15', '20', '30', '100-200']

* **`sort`**

Метод `sort` сортирует список на месте:

In [128]:
vlans = [1, 50, 10, 15]

vlans.sort()

vlans

[1, 10, 15, 50]

### 4.4 Словарь (Dictionary)

Словари - это изменяемый упорядоченный тип данных:\
- данные в словаре - это пары `ключ: значение`
- доступ к значениям осуществляется по ключу, а не по номеру, как в списках
- данные в словаре упорядочены по порядку добавления элементов
- так как словари изменяемы, то элементы словаря можно менять, добавлять, удалять
- ключ должен быть объектом неизменяемого типа: число, строка, кортеж
- значение может быть данными любого типа

**Примечание:**
В других языках программирования тип данных подобный словарю может называться ассоциативный массив, хеш или хеш-таблица.

Пример словаря:

In [129]:
london = {'name': 'London1', 'location': 'London Str', 'vendor': 'Cisco'}

Можно записывать и так:

In [130]:
london = {'id': 1,
          'name': 'London',
          'it_vlan': 320,
          'user_vlan': 1010,
          'mngmt_vlan': 99,
          'to_name': None,
          'to_id': None,
          'port': 'G1/0/11'
         }

Для того, чтобы получить значение из словаря, надо обратиться по ключу, таким же образом, как это было в списках, только вместо номера будет использоваться ключ:

In [131]:
london = {'name': 'London1', 'location': 'London Str'}

london['name']

'London1'

In [132]:
london['location']

'London Str'

Аналогичным образом можно добавить новую пару ключ-значение:

In [133]:
london['vendor'] = 'Cisco'

print(london)

{'name': 'London1', 'location': 'London Str', 'vendor': 'Cisco'}

В словаре в качестве значения можно использовать словарь:

In [134]:
london_co = {
    'r1': {
        'hostname': 'london_r1',
        'location': '21 New Globe Walk',
        'vendor': 'Cisco',
        'model': '4451',
        'ios': '15.4',
        'ip': '10.255.0.1'
    },
    'r2': {
        'hostname': 'london_r2',
        'location': '21 New Globe Walk',
        'vendor': 'Cisco',
        'model': '4451',
        'ios': '15.4',
        'ip': '10.255.0.2'
    },
    'sw1': {
        'hostname': 'london_sw1',
        'location': '21 New Globe Walk',
        'vendor': 'Cisco',
        'model': '3850',
        'ios': '3.6.XE',
        'ip': '10.255.0.101'
    }
}

Получить значения из вложенного словаря можно так:

In [135]:
london_co['r1']['ios']

'15.4'

In [136]:
london_co['r1']['model']

'4451'

In [137]:
london_co['sw1']['ip']

'10.255.0.101'

Функция `sorted` сортирует ключи словаря по возрастанию и возвращает новый список с отсортированными ключами:

In [138]:
london = {'name': 'London1', 'location': 'London Str', 'vendor': 'Cisco'}

sorted(london)

['location', 'name', 'vendor']

#### 4.4.1 Полезные методы для работы со словарями

* **`clear`**

Метод `clear` позволяет очистить словарь:

In [139]:
london = {'name': 'London1', 'location': 'London Str'}

london.clear()

london

{}

* **`copy`**

Метод `copy` позволяет создать полную копию словаря.

Если указать, что один словарь равен другому:

In [140]:
london = {'name': 'London1', 'location': 'London Str', 'vendor': 'Cisco'}

london2 = london

id(london)

2113452296192

In [141]:
id(london2)

2113452296192

In [142]:
london['vendor'] = 'Juniper'

london2['vendor']

'Juniper'

В этом случае **london2** это еще одно имя, которое ссылается на словарь. И при изменениях словаря **london** меняется и словарь **london2**, так как это ссылки на один и тот же объект.

Поэтому, если нужно сделать копию словаря, надо использовать метод `copy()`:

In [143]:
london = {'name': 'London1', 'location': 'London Str', 'vendor': 'Cisco'}

london2 = london.copy()

id(london)

2113469167872

In [144]:
id(london2)

2113469797568

In [145]:
london['vendor'] = 'Juniper'

london2['vendor']

'Cisco'

* **`get`**

Если при обращении к словарю указывается ключ, которого нет в словаре, возникает ошибка:

In [146]:
london = {'name': 'London1', 'location': 'London Str', 'vendor': 'Cisco'}

london['ios']

KeyError: 'ios'

Метод `get` запрашивает ключ, и если его нет, вместо ошибки возвращает **None**.

In [147]:
london = {'name': 'London1', 'location': 'London Str', 'vendor': 'Cisco'}

print(london.get('ios'))

None

Метод `get()` позволяет также указывать другое значение вместо **None**:

In [148]:
print(london.get('ios', 'Ooops'))

Ooops

* **`setdefault`**

Метод `setdefault` ищет ключ, и если его нет, вместо ошибки создает ключ со значением **None**.

In [149]:
london = {'name': 'London1', 'location': 'London Str', 'vendor': 'Cisco'}

ios = london.setdefault('ios')

print(ios)

None

In [150]:
london

{'name': 'London1', 'location': 'London Str', 'vendor': 'Cisco', 'ios': None}

Если ключ есть, `setdefault` возвращает значение, которое ему соответствует:

In [151]:
london.setdefault('name')

'London1'

Второй аргумент позволяет указать, какое значение должно соответствовать ключу:

In [152]:
model = london.setdefault('model', 'Cisco3580')

print(model)

Cisco3580

In [153]:
london

{'name': 'London1',
 'location': 'London Str',
 'vendor': 'Cisco',
 'ios': None,
 'model': 'Cisco3580'}

Метод `setdefault` заменяет такую конструкцию:

```python
if key in london:
    value = london[key]
else:
    london[key] = 'somevalue'
    value = london[key]
```

* **`keys`, `values`, `items`**

Методы `keys`, `values`, `items`:

In [154]:
london = {'name': 'London1', 'location': 'London Str', 'vendor': 'Cisco'}

london.keys()

dict_keys(['name', 'location', 'vendor'])

In [155]:
london.values()

dict_values(['London1', 'London Str', 'Cisco'])

In [156]:
london.items()

dict_items([('name', 'London1'), ('location', 'London Str'), ('vendor', 'Cisco')])

Все три метода возвращают специальные объекты `view`, которые отображают ключи, значения и пары ключ-значение словаря соответственно.

Очень важная особенность `view` заключается в том, что они меняются вместе с изменением словаря. И фактически они лишь дают способ посмотреть на соответствующие объекты, но не создают их копию.

На примере метода `keys`:

In [157]:
london = {'name': 'London1', 'location': 'London Str', 'vendor': 'Cisco'}

keys = london.keys()

print(keys)

dict_keys(['name', 'location', 'vendor'])

Сейчас переменной keys соответствует **view dict_keys**, в котором три ключа: **name**, **location** и **vendor**.

Если добавить в словарь еще одну пару ключ-значение, объект `keys` тоже поменяется:

In [158]:
london['ip'] = '10.1.1.1'

keys

dict_keys(['name', 'location', 'vendor', 'ip'])

Если нужно получить обычный список ключей, который не будет меняться с изменениями словаря, достаточно конвертировать `view` в список:

In [159]:
list_keys = list(london.keys())

list_keys

['name', 'location', 'vendor', 'ip']

* **`del`**

Удалить ключ и значение:

In [160]:
london = {'name': 'London1', 'location': 'London Str', 'vendor': 'Cisco'}

del london['name']

london

{'location': 'London Str', 'vendor': 'Cisco'}

* **`update`**

Метод `update` позволяет добавлять в словарь содержимое другого словаря:

In [161]:
r1 = {'name': 'London1', 'location': 'London Str'}

r1.update({'vendor': 'Cisco', 'ios':'15.2'})

r1

{'name': 'London1', 'location': 'London Str', 'vendor': 'Cisco', 'ios': '15.2'}

Аналогичным образом можно обновить значения:

In [162]:
r1.update({'name': 'london-r1', 'ios':'15.4'})

r1

{'name': 'london-r1',
 'location': 'London Str',
 'vendor': 'Cisco',
 'ios': '15.4'}

##### Варианты создания словаря

* **Литерал**

Словарь можно создать с помощью литерала:

In [163]:
r1 = {'model': '4451', 'ios': '15.4'}

* **`dict`**

Конструктор `dict` позволяет создавать словарь несколькими способами.

Если в роли ключей используются строки, можно использовать такой вариант создания словаря:

In [164]:
r1 = dict(model='4451', ios='15.4')

r1

{'model': '4451', 'ios': '15.4'}

Второй вариант создания словаря с помощью `dict`:

In [165]:
r1 = dict([('model', '4451'), ('ios', '15.4')])

r1

{'model': '4451', 'ios': '15.4'}

* **`dict.fromkeys`**

В ситуации, когда надо создать словарь с известными ключами, но пока что пустыми значениями (или одинаковыми значениями), очень удобен метод `fromkeys()`:

In [166]:
d_keys = ['hostname', 'location', 'vendor', 'model', 'ios', 'ip']

r1 = dict.fromkeys(d_keys)

r1

{'hostname': None,
 'location': None,
 'vendor': None,
 'model': None,
 'ios': None,
 'ip': None}

По умолчанию метод `fromkeys` подставляет значение **None**. Но можно указывать и свой вариант значения:

In [167]:
router_models = ['ISR2811', 'ISR2911', 'ISR2921', 'ASR9002']

models_count = dict.fromkeys(router_models, 0)

models_count

{'ISR2811': 0, 'ISR2911': 0, 'ISR2921': 0, 'ASR9002': 0}

Этот вариант создания словаря подходит не для всех случаев. Например, при использовании изменяемого типа данных в значении, будет создана ссылка на один и тот же объект:

In [168]:
router_models = ['ISR2811', 'ISR2911', 'ISR2921', 'ASR9002']

routers = dict.fromkeys(router_models, [])

routers

{'ISR2811': [], 'ISR2911': [], 'ISR2921': [], 'ASR9002': []}

In [169]:
routers['ASR9002'].append('london_r1')

routers

{'ISR2811': ['london_r1'],
 'ISR2911': ['london_r1'],
 'ISR2921': ['london_r1'],
 'ASR9002': ['london_r1']}

В данном случае каждый ключ ссылается на один и тот же список. Поэтому, при добавлении значения в один из списков обновляются и остальные.

*Примечание:*
Для такой задачи лучше подходит генератор словаря. Смотри раздел `List`, `dict`, `set comprehensions`

### 4.5 Кортеж (Tuple)

Кортеж в Python - это последовательность элементов, которые разделены между собой запятой и заключены в скобки
неизменяемый упорядоченный тип данных

Грубо говоря, кортеж - это список, который нельзя изменить. То есть, в кортеже есть только права на чтение. Это может быть защитой от случайных изменений.

Создать пустой кортеж:

In [170]:
tuple1 = tuple()

print(tuple1)

()

Кортеж из одного элемента (обратите внимание на запятую):

In [171]:
tuple2 = ('password',)

Кортеж из списка:

In [172]:
list_keys = ['hostname', 'location', 'vendor', 'model', 'ios', 'ip']

tuple_keys = tuple(list_keys)

tuple_keys

('hostname', 'location', 'vendor', 'model', 'ios', 'ip')

К объектам в кортеже можно обращаться, как и к объектам списка, по порядковому номеру:

In [173]:
tuple_keys[0]

'hostname'

Но так как кортеж неизменяем, присвоить новое значение нельзя:

In [174]:
tuple_keys[1] = 'test'

TypeError: 'tuple' object does not support item assignment

Функция `sorted` сортирует элементы кортежа по возрастанию и возвращает новый список с отсортированными элементами:

In [175]:
tuple_keys = ('hostname', 'location', 'vendor', 'model', 'ios', 'ip')

sorted(tuple_keys)

['hostname', 'ios', 'ip', 'location', 'model', 'vendor']

### 4.6 Множество (Set)

Множество - это изменяемый неупорядоченный тип данных. В множестве всегда содержатся только уникальные элементы.

Множество в Python - это последовательность элементов, которые разделены между собой запятой и заключены в фигурные скобки.

С помощью множества можно легко убрать повторяющиеся элементы:

In [176]:
vlans = [10, 20, 30, 40, 100, 10]

set(vlans)

{10, 20, 30, 40, 100}

In [177]:
set1 = set(vlans)

print(set1)

{100, 40, 10, 20, 30}

#### 4.6.1 Полезные методы для работы с множествами
* **`add()`**

Метод `add()` добавляет элемент во множество:

In [178]:
set1 = {10,20,30,40}

set1.add(50)

set1

{10, 20, 30, 40, 50}

* **`discard()`**

Метод `discard()` позволяет удалять элементы, не выдавая ошибку, если элемента в множестве нет:

In [179]:
set1

{10, 20, 30, 40, 50}

In [180]:
set1.discard(55)

set1

{10, 20, 30, 40, 50}

In [181]:
set1.discard(50)

set1

{10, 20, 30, 40}

* **`clear()`**

Метод `clear()` очищает множество:

In [182]:
set1 = {10,20,30,40}

set1.clear()

set1

set()

#### 4.6.2 Операции с множествами

Множества полезны тем, что с ними можно делать различные операции и находить объединение множеств, пересечение и так далее.

Объединение множеств можно получить с помощью метода `union()` или оператора `|`:

In [183]:
vlans1 = {10,20,30,50,100}
vlans2 = {100,101,102,102,200}

vlans1.union(vlans2)

{10, 20, 30, 50, 100, 101, 102, 200}

In [184]:
vlans1 | vlans2

{10, 20, 30, 50, 100, 101, 102, 200}

Пересечение множеств можно получить с помощью метода `intersection()` или оператора `&`:

In [185]:
vlans1 = {10,20,30,50,100}
vlans2 = {100,101,102,102,200}

vlans1.intersection(vlans2)

{100}

In [186]:
vlans1 & vlans2

{100}

* **``Варианты создания множества``**

Нельзя создать пустое множество с помощью литерала (так как в таком случае это будет не множество, а словарь):

In [187]:
set1 = {}

type(set1)

dict

Но пустое множество можно создать таким образом:

In [188]:
set2 = set()

In [189]:
type(set2)

set

Множество из строки:

In [190]:
set('long long long long string')

{' ', 'g', 'i', 'l', 'n', 'o', 'r', 's', 't'}

Множество из списка:

In [191]:
set([10, 20, 30, 10, 10, 30])

{10, 20, 30}

### 4.7 Булевы значения

Булевы значения в Python это две константы `True` и `False`.

В Python истинными и ложными значениями считаются не только `True` и `False`.

истинное значение:
- любое ненулевое число
- любая непустая строка
- любой непустой объект


ложное значение:
- 0
- None
- пустая строка
- пустой объект

Остальные истинные и ложные значения, как правило, логически следуют из условия.

Для проверки булевого значения объекта, можно воспользоваться bool:

In [192]:
items = [1, 2, 3]

empty_list = []

bool(empty_list)

False

In [193]:
bool(items)

True

In [194]:
bool(0)

False

In [195]:
bool(1)

True

### 4.8 Модель данных

Рассмотрим как создаются объекты в памяти, их устройство, процесс объявления новых переменных и работу операции присваивания.

Для того, чтобы объявить и сразу инициализировать переменную необходимо написать её имя, потом поставить знак равенства и значение, с которым эта переменная будет создана. Например строка:

```python
b = 5
```

объявляет переменную `b` и присваивает ей значение 5.

Целочисленное значение 5 в рамках языка Python по сути своей является объектом. Объект, в данном случае – это абстракция для представления данных, данные – это числа, списки, строки и т.п. При этом, под данными следует понимать как непосредственно сами объекты, так и отношения между ними (об этом чуть позже). Каждый объект имеет три атрибута – это идентификатор, значение и тип. Идентификатор – это уникальный признак объекта, позволяющий отличать объекты друг от друга, а значение – непосредственно информация, хранящаяся в памяти, которой управляет интерпретатор.

При инициализации переменной, на уровне интерпретатора, происходит следующее:
    
- создается целочисленный объект 5 (можно представить, что в этот момент создается ячейка и 5 кладется в эту ячейку);
- данный объект имеет некоторый идентификатор, значение: 5, и тип: целое число;
- посредством оператора “=” создается ссылка между переменной b и целочисленным объектом 5 (переменная b ссылается на объект 5).

Имя переменной не должно совпадать с ключевыми словами интерпретатора Python. Список ключевых слов можно найти здесь. Также его можно получить непосредственно в программе, для этого нужно подключить модуль keyword и воспользоваться командой keyword.kwlist.

In [196]:
import keyword
print("Python keywords: ", keyword.kwlist)

Python keywords:  ['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

Проверить является или нет идентификатор ключевым словом можно так:

In [197]:
keyword.iskeyword("try")

True

In [198]:
keyword.iskeyword("b")

False

Для того, чтобы посмотреть на объект с каким идентификатором ссылается данная переменная, можно использовать функцию id().

In [199]:
a = 4
b = 5
id(a)

140735697336192

In [200]:
id(b)

140735697336224

In [201]:
a = b
id(a)

140735697336224

Как видно из примера, идентификатор – это некоторое целочисленное значение, посредством которого уникально адресуется объект. Изначально переменная a ссылается на объект 4 с идентификатором 1829984576, переменная b – на объект с id = 1829984592. После выполнения операции присваивания a = b, переменная a стала ссылаться на тот же объект, что и b.

<img src="../Base/images/data model_1.png" width='500'/>

Тип переменной можно определить с помощью функции `type()`. Пример использования приведен ниже.

In [202]:
a = 10
b = "hello"
c = (1, 2)

type(a)

int

In [203]:
type(b)

str

In [204]:
type(c)

tuple

#### 4.8.1 Изменяемые и неизменяемые типы данных

В Python существуют изменяемые и неизменяемые типы.

К **неизменяемым (immutable)** типам относятся: целые числа (`int`),  числа с плавающей точкой (`float`), комплексные числа (`complex`), логические переменные (`bool`), кортежи (`tuple`), строки (`str`) и неизменяемые множества (`frozen set`).

К **изменяемым (mutable)** типам относятся: списки (`list`), множества (`set`), словари (`dict`).

Как уже было сказано ранее, при создании переменной, вначале создается объект, который имеет уникальный идентификатор, тип и значение, после этого переменная может ссылаться на созданный объект.

Неизменяемость типа данных означает, что созданный объект больше не изменяется. Например, если мы объявим переменную `k = 15`, то будет создан объект со значением 15, типа `int` и идентификатором, который можно узнать с помощью функции `id()`.

In [205]:
k = 15
id(k)

type(k)

int

Объект с `id = 1672501744` будет иметь значение 15 и изменить его уже нельзя.

Если тип данных изменяемый, то можно менять значение объекта. Например, создадим список [1, 2], а потом заменим второй элемент на 3.

In [206]:
a = [1, 2]
id(a)

2113469045824

In [207]:
a[1] = 3
a

[1, 3]

In [208]:
id(a)

2113469045824

Как видно, объект на который ссылается переменная **a**, был изменен. Это можно проиллюстрировать следующим рисунком.

<img src="../Base/images/data model_2.png" width='500'/>

В рассмотренном случае, в качестве данных списка, выступают не объекты, а отношения между объектами. Т.е. в переменной a хранятся ссылки на объекты содержащие числа 1 и 3, а не непосредственно сами эти числа.