<img src="../Base/images/liga logo.png" width="500"/>

<img src="../Base/images/python logo.png" width="165"/>

# Курс "Основы программирования на Python"

Программа урока  
встроенные типы основы  
модель данных  
встроенные типы подробности  
# Содержание
4. [Встроенные типы данных: основы](#4.Встроенные_типы_данных:_основы)  
    4.1 [Логический тип `bool`](#4.1Логический_тип_(`bool`))  
    4.2 [Числа](#4.2Числа)  
    4.3 [Список (`list`) и другие массивы (последовательности)](#4.3Список_(`list`)_и_другие_массивы_(последовательности))  
    4.4 [Строки (`str`)](#4.4Строки_(`str`))  
    4.5 [Кортеж (`tuple`)](#4.5Кортеж_(`tuple`))  
    4.6 [Множество (`set`)](#4.6Множество_(`set`))  
    4.7 [Словарь (`dict`)](#4.7Словарь_(`dict`))  
5. [Модель данных](#5Модель_данных)  
    5.1 [Идентификатор объекта и `id`, `del`, `is`](#5.1Идентификатор_объекта_и_`id`,_`del`,_`is`)  
    5.2 [Тип объекта, `type`, основы ООП](#5.2Тип_объекта,_`type`,_основы_ООП)  
    5.3 [`None`](#5.3`None`)  
    5.4 [Изменяемые и неизменяемые типы](#5.4Изменяемые_и_неизменяемые_типы)  
    5.5 [Хеширование, `hash`, `in`](#5.5Хеширование,_`hash`,_`in`)  
    5.6 [Свойства элементов коллекций `set` и `dict`](#5.6Свойства_элементов_коллекций_`set`_и_`dict`)  
    5.7 [Неочевидное поведение Python при создании объектов](#5.7Неочевидное_поведение_Python_при_создании_объектов)  
6. [Встроенные типы данных: продолжение](#6Встроенные_типы_данных:_продолжение)  
    6.1 [Преобразование в тип `bool`](#6.1Преобразование_в_тип_`bool`)  
    6.2 [Числа: системы счистления, модуль `math`](#6.2Числа:_системы_счистления,_модуль_`math`)  
    6.3 [](#)

## 4. Встроенные типы данных: основы <a name="4.Встроенные_типы_данных:_основы"></a>
Официальная документация:  
https://docs.python.org/3.6/library/stdtypes.html

В Python есть несколько стандартных типов данных:

- Boolean (логический тип)

In [1]:
flag = True
flag = False

- Numbers (числа)

In [2]:
a = 1  # integer (целое число)
b = 1. # float (дробное число)

- Strings (строки)

In [3]:
c = 'abc'

- Lists (списки)

In [4]:
l = [1,7,5]

- Tuples (кортежи)

In [5]:
t = (1,7,5)

- Sets (множества)

In [6]:
s = {1,7,5}

- Dictionaries (словари)

In [7]:
d = {'key0': 1, 'key1': 4}

- NoneType (отсутствие значения)

In [8]:
None

### 4.1 Логический тип (`bool`) <a name="4.1Логический_тип_(`bool`)"></a>

Булевы значения в Python это две константы `True` и `False`.

In [9]:
flag = True
type(flag)

bool

Почти все объекты в Python могут быть преобразованы в логический тип.

Для проверки булевого значения объекта, можно воспользоваться `bool`:

In [10]:
bool(0), bool(1), bool(2)

(False, True, True)

Логические операторы:

In [11]:
not True

False

In [12]:
True or False

True

In [13]:
True and False

False

Операторы `or` и `and` проверяют сначала только левую часть, и выполняют правую часть только в случае, если после выполнения левой части результат неизвестен:

In [14]:
def condition_left():
    print('condition_left')
    return True

def condition_right():
    print('condition_right')
    return False

print(condition_left() or condition_right())
print()
print(condition_left() and condition_right())

condition_left
True

condition_left
condition_right
False

Оператор `not` имеет меньший приоритет перед не логическими операторами, поэтому запись

In [15]:
not 1 == 2

True

эквивалентна записи

In [16]:
not (1 == 2)

True

А следующая запись вызовет ошибку синтаксиса:

In [17]:
True == not False

SyntaxError: invalid syntax (<ipython-input-17-ba472dcc1299>, line 1)

Мы рекомендуем использовать скобки в логических выражениях, чтобы не было путаницы в вопросах того, какой оператор исполняется первым.

**Операторы сравнения:**
`<`, `<=`, `==`, `!=`

### 4.2 Числа <a name="4.2Числа"></a>

In [18]:
1 + 2, 1.0 + 2

(3, 3.0)

In [19]:
isinstance(1.0+2, float), isinstance(1.0+2, int), isinstance(1+2, int)

(True, False, True)

In [20]:
10 - 4

6

In [21]:
2**3  # возведение в степень

8

Деление `int` и `float`:

In [22]:
10/3

3.3333333333333335

In [23]:
10/3.0

3.3333333333333335

С помощью функции `round` можно округлять числа до нужного количества знаков:

In [24]:
round(10/3.0, 2)

3.33

In [25]:
round(3.35, 1)

3.4

Остаток от деления:

In [26]:
10 % 3

1

Целочисленное деление:

In [27]:
10 // 3

3

Операторы сравнения

In [28]:
10 > 3.0

True

In [29]:
10 < 3

False

In [30]:
10 == 3

False

In [31]:
10 == 10

True

In [32]:
10 <= 10

True

In [33]:
10.0 == 10

True

Функция `int()` позволяет выполнять конвертацию в тип `int`, аналогично с `float`:

In [34]:
a = '11'

In [35]:
int(a)

11

In [36]:
float('11'), float(11.09)

(11.0, 11.09)

Пример некорректной строки для преобразования в целое число:

In [37]:
int('43abc4')

ValueError: invalid literal for int() with base 10: '43abc4'

Конвертация в `int` типа `float`:

In [38]:
int(3.333), int(3.9)

(3, 3)

In [39]:
float(3)

3.0

### 4.3  Список (`list`) и другие массивы (последовательности) <a name='4.3Список_(`list`)_и_другие_массивы_(последовательности)'></a>
Список в Python - это массив или последовательность элементов  
Список является изменяемым упорядоченным типом данных

In [40]:
l = [10,20,30,77,88,99]  # задаем list с помощью литералов []

In [41]:
list(), []  # создаем пустые list'ы

([], [])

#### 4.3.1 Индексация массивов

Ниже описан функционал, общий для большинства популярных реализаций массивов в Python (или последовательностей), на примере стандартного для питона `list`.  

Нумерация элементов в массиве начинается с 0. Максимальный номер элемента равен длине массива-1.  
Длину массива можно узнать с помощью функции `len`:

In [42]:
len(l)

6

In [43]:
l[0], l[1], l[len(l)-1]

(10, 20, 99)

Нумеровать элементы можно и с отрицательными индексами

In [44]:
l[-1], l[len(l)-1]

(99, 99)

In [45]:
l[0], l[-len(l)]

(10, 10)

Индексы массива выглядят так: 
<pre>
list values:   [9, 5, 0, 4]  
positive inds:  0, 1, 2, 3  
negative inds: -4,-3,-2,-1
</pre>

Если отрицательный индекс по модулю больше длины массива, получим ошибку:

In [46]:
l[-len(l)-1]

IndexError: list index out of range

Тоже и для положительного индекса больше длины массива-1:

In [47]:
l[len(l)]

IndexError: list index out of range

#### 4.3.2 Slices (срезы)

Кроме обращения к конкретному символу, можно делать срезы (slice) строк, указав диапазон номеров (срез выполняется по второе число, не включая его):

In [48]:
l

[10, 20, 30, 77, 88, 99]

In [49]:
l[1:4]

[20, 30, 77]

Если не указывается второе число, то срез будет до конца строки:

In [50]:
l[2:]

[30, 77, 88, 99]

Срезать три последних элемента массива:

In [51]:
l[-3:]

[77, 88, 99]

Также в срезе можно указывать шаг `array[start:stop:step]`:

In [52]:
l[1::2]  # взять каждый второй элемент, начиная с первого

[20, 77, 99]

In [53]:
l[::2]  # взять каждый второй, начиная с нулевого

[10, 30, 88]

Срезы также можно использовать для получения массива в обратном порядке:

In [54]:
l[::-1]

[99, 88, 77, 30, 20, 10]

In [55]:
l[-2::-2]

[88, 30, 10]

In [56]:
l[2::-2]

[30, 10]

In [57]:
l[::]  # тождественный массив

[10, 20, 30, 77, 88, 99]

In [58]:
l[:]  # тождественный массив

[10, 20, 30, 77, 88, 99]

Использование срезов не меняет массив, а возвращает новый.  
После всех проведенных выше манипуляций со срезами массив `l` остался исходным:

In [59]:
l

[10, 20, 30, 77, 88, 99]

#### 4.3.3 Полезные методы для работы со списками
Так как списки изменяемые, элементы списка можно менять:

In [60]:
l[0] = 0
l

[0, 20, 30, 77, 88, 99]

Список - это изменяемый тип данных, поэтому очень важно обращать внимание на то, что большинство методов для работы со списками меняют список на месте, при этом ничего не возвращая.

* **`append`**

Метод append добавляет в конец списка указанный элемент:

In [61]:
l

[0, 20, 30, 77, 88, 99]

In [62]:
l.append(100)

In [63]:
l

[0, 20, 30, 77, 88, 99, 100]

Метод append меняет список на месте и ничего не возвращает.

* **`extend`**

Если нужно объединить два списка, то можно использовать два способа: метод `extend` или операцию сложения.

У этих способов есть важное отличие - `extend` меняет список, к которому применен метод, а суммирование возвращает новый список, который состоит из двух.

Метод `extend`:

In [64]:
l.extend([101,102])
l

[0, 20, 30, 77, 88, 99, 100, 101, 102]

* **Суммирование списков:**

In [65]:
l+[103,104]

[0, 20, 30, 77, 88, 99, 100, 101, 102, 103, 104]

In [66]:
l

[0, 20, 30, 77, 88, 99, 100, 101, 102]

In [197]:
[1,2]*3

[1, 2, 1, 2, 1, 2]

*Примечание:*

Функция и метод отличаются тем, что метод привязан к объекту конкретного типа, а функция, как правило, более универсальная и может применяться к объектам разного типа. Например, функция `len` может применяться к строкам, спискам, словарям, кортежам, множествам и так далее, а метод `extend` относится только к спискам.

Список может содержать элементы любых типов, в том числе вложенные списки:

In [67]:
l0 = [1, [2,3], [[0,0],[1,1]], 2.8, 'str']
l0

[1, [2, 3], [[0, 0], [1, 1]], 2.8, 'str']

In [68]:
l0[2]

[[0, 0], [1, 1]]

* **`index`**

Метод `index` используется для того, чтобы проверить, под каким номером в списке хранится элемент (возвращает номер первого вхождения):

In [69]:
vlans = ['10', '20', '30', '30', '100-200']

vlans.index('30')

2

* **`insert`**

Метод `insert` позволяет вставить элемент на определенное место в списке:

In [70]:
vlans = ['10', '20', '30', '100-200']

vlans.insert(1, '15')

vlans

['10', '15', '20', '30', '100-200']

**удаление элементов списка:**

* **`pop`**

Метод `pop` удаляет элемент, который соответствует указанному номеру, и возвращает этот элемент:

In [71]:
vlans = ['10', '20', '30', '100-200']

vlans.pop(-1)

'100-200'

In [72]:
vlans

['10', '20', '30']

Без указания номера удаляется последний элемент списка.

* **`remove`**

Метод `remove` удаляет первое вхождение указанного элемента.

`remove()` не возвращает удаленный элемент:

In [73]:
vlans = ['10', '20', '20', '30', '100-200']

vlans.remove('20')

vlans

['10', '20', '30', '100-200']

Если указать элемент, который отсутствует в списке, возникнет ошибка:

In [74]:
vlans.remove(-1)

ValueError: list.remove(x): x not in list

* **`del`** - ключевое слово для удаления переменных из оперативной памяти, с его помощью можно удалять и элементы списка:

In [75]:
vlans = ['10', '20', '20', '30', '100-200']

del vlans[-1]

vlans

['10', '20', '20', '30']

In [76]:
del vlans[1:3]
vlans

['10', '30']

* метод **`reverse()`** переворачивает список:

In [77]:
vlans = ['10', '15', '20', '30', '100-200']
vlans.reverse()

In [78]:
vlans

['100-200', '30', '20', '15', '10']

* функция **`sorted`** сортирует элементы списка по возрастанию и возвращает новый список с отсортированными элементами:

In [79]:
names = ['John', 'Michael', 'Antony']

sorted(names)

['Antony', 'John', 'Michael']

* **`sort`**

Метод `sort` сортирует список на месте:

In [80]:
vlans = [1, 50, 10, 15]

vlans.sort()

vlans

[1, 10, 15, 50]

### 4.4  Строки (`str`) <a name="4.4Строки_(`str`)"></a>

Строка в Python - это последовательность символов, поэтому весь функционал, применимый к последовательностям, описанный выше на примере `list`, применим и к строкам.

Примеры строк:

In [81]:
str(), '', "", """""", ''''''  # пустая строка

('', '', '', '', '')

In [82]:
'Hello', "Hello"

('Hello', 'Hello')

In [83]:
tunnel = """ interface Tunnel0
             ip address 10.10.10.1 255.255.255.0
             ip mtu 1416
             ip ospf hello-interval 5
             tunnel source FastEthernet1/0
             tunnel protection ipsec profile DMVPN
         """

In [84]:
tunnel

' interface Tunnel0\n             ip address 10.10.10.1 255.255.255.0\n             ip mtu 1416\n             ip ospf hello-interval 5\n             tunnel source FastEthernet1/0\n             tunnel protection ipsec profile DMVPN\n         '

In [85]:
print(tunnel)

 interface Tunnel0
             ip address 10.10.10.1 255.255.255.0
             ip mtu 1416
             ip ospf hello-interval 5
             tunnel source FastEthernet1/0
             tunnel protection ipsec profile DMVPN

символ **`\`** используется в коде Python для переноса цельного выражения на новую строку:

In [86]:
name = "any_python_style_"\
"variable_name"

name

'any_python_style_variable_name'

Строки можно суммировать. Тогда они объединяются в одну строку:

In [87]:
intf = 'interface'

tun = 'Tunnel0'

intf + tun

'interfaceTunnel0'

In [88]:
intf + ' ' + tun

'interface Tunnel0'

Строку можно умножать на число. В этом случае, строка повторяется указанное количество раз:

In [89]:
intf * 5

'interfaceinterfaceinterfaceinterfaceinterface'

In [90]:
'#' * 40

'########################################'

Обращение к символу строки по номеру:

In [91]:
string1 = 'interface FastEthernet1/0'

string1[0], string1[1], string1[-1]

('i', 'n', '0')

In [92]:
string1[0:9]

'interface'

In [93]:
string1[10:22]

'FastEthernet'

In [94]:
string1[10:]

'FastEthernet1/0'

In [95]:
string1[-3:]

'1/0'

In [96]:
a = '0123456789'  # последовательность натуральных чисел
print(a[1::2], 'нечетные числа')
print(a[::2], 'четные числа')
print(a[::-1], 'строка в обратном порядке')
print(len(a), 'длина строки')

13579 нечетные числа
02468 четные числа
9876543210 строка в обратном порядке
10 длина строки

### 4.5 Кортеж (`tuple`) <a name="4.5Кортеж_(`tuple`)"></a>

Кортеж в Python - это последовательность элементов, неизменяемый аналог `list`.

Если вам нужно создать последовательность элементов, которая точно не должна/не будет изменяться, используйте `tuple`, т.к. вы будете точно уверены в его неизменности, а также у него есть и другие преимущества в производительности.

Создать пустой кортеж:

In [97]:
tuple(), ()

((), ())

Кортеж из одного элемента (**обратите внимание на запятую**):

In [98]:
tuple2 = ('password',)
tuple2

('password',)

In [99]:
tuple3 = (1,4,3,'')
tuple3

(1, 4, 3, '')

In [100]:
tuple3

(1, 4, 3, '')

Для кортежей, также как и для списков, работает функционал слайсов, обращения к элементу по индексу, поиск первого вхождения, суммирование кортежей.

Не работает никакой функционал изменения элементов кортежа.

In [101]:
tuple3+tuple2

(1, 4, 3, '', 'password')

In [102]:
tuple3.index(4)

1

In [103]:
tuple3[1:]

(4, 3, '')

In [104]:
tuple_keys[1] = 'test'

NameError: name 'tuple_keys' is not defined

### 4.6 Множество (`set`) <a name="4.6Множество_(`set`)"></a>

Множество - это последовательность уникальных элементов.

In [105]:
set()

set()

**Важно:** не создавайте **пустое** множество с помощью `{}`, т.к. в этом случае получится пустой словарь:

In [106]:
type({})

dict

In [107]:
s = {1,2,3,3}
s

{1, 2, 3}

С помощью множества можно легко получить уникальные значения списка:

In [108]:
list0 = [10, 20, 30, 40, 100, 10]
set0 = set(list0)
set0

{10, 20, 30, 40, 100}

In [109]:
set('hello')

{'e', 'h', 'l', 'o'}

In [110]:
{1,4.2,'abc', 1.0}

{1, 4.2, 'abc'}

#### 4.6.1 Полезные методы для работы с множествами
* **`add()`**

Метод `add()` добавляет элемент во множество:

In [111]:
set1 = {10,20,30,40}
set1.add(50)
set1

{10, 20, 30, 40, 50}

* **`discard()`**

Метод `discard()` позволяет удалять элементы, не выдавая ошибку, если элемента в множестве нет:

In [112]:
set1

{10, 20, 30, 40, 50}

In [113]:
set1.discard(55)
set1

{10, 20, 30, 40, 50}

In [114]:
set1.discard(50)
set1

{10, 20, 30, 40}

#### 4.6.2 Операции с множествами

Множества полезны тем, что с ними можно делать различные операции и находить объединение множеств, пересечение и так далее.

Объединение множеств можно получить с помощью метода `union()` или оператора `|`:

In [115]:
vlans1 = {10,20,30,50,100}
vlans2 = {100,101,102,102,200}

vlans1.union(vlans2)

{10, 20, 30, 50, 100, 101, 102, 200}

In [116]:
vlans1 | vlans2

{10, 20, 30, 50, 100, 101, 102, 200}

Пересечение множеств можно получить с помощью метода `intersection()` или оператора `&`:

In [117]:
vlans1 = {10,20,30,50,100}
vlans2 = {100,101,102,102,200}

vlans1.intersection(vlans2)

{100}

In [118]:
vlans1 & vlans2

{100}

### 4.7 Словарь (`dict`) <a name="4.7Словарь_(`dict`)"></a>
- данные в словаре - это пары `ключ: значение`
- доступ к значениям осуществляется по ключу, а не по номеру, как в списках
- ключ должен быть объектом неизменяемого типа: число, строка, кортеж (объяснение позже #TODO)
- значение может быть данными любого типа

**Примечание:**
В других языках программирования тип данных подобный словарю может называться ассоциативный массив, хеш или хеш-таблица.

Пример словаря:

In [119]:
dict(), {}

({}, {})

In [120]:
london = {'name': 'London1', 'location': 'London Str', 'vendor': 'Cisco'}

Можно записывать и так:

In [121]:
london = {'id': 1,
          'name': 'London',
          'it_vlan': 320,
          'user_vlan': 1010,
          'mngmt_vlan': 99,
          'to_name': None,
          'to_id': None,
          'port': 'G1/0/11'
         }

Для того, чтобы получить значение из словаря, надо обратиться по ключу, таким же образом, как это было в списках, только вместо номера будет использоваться ключ:

In [122]:
london = {'name': 'London1', 'location': 'London Str'}

london['name']

'London1'

In [123]:
london['location']

'London Str'

Аналогичным образом можно добавить новую пару ключ-значение:

In [124]:
london['vendor'] = 'Cisco'

print(london)

{'name': 'London1', 'location': 'London Str', 'vendor': 'Cisco'}

В словаре в качестве значения можно использовать словарь:

In [125]:
london_co = {
    'r1': {
        'hostname': 'london_r1',
        'location': '21 New Globe Walk',
        'vendor': 'Cisco',
        'model': '4451',
        'ios': '15.4',
        'ip': '10.255.0.1'
    },
    'r2': {
        'hostname': 'london_r2',
        'location': '21 New Globe Walk',
        'vendor': 'Cisco',
        'model': '4451',
        'ios': '15.4',
        'ip': '10.255.0.2'
    },
    'sw1': {
        'hostname': 'london_sw1',
        'location': '21 New Globe Walk',
        'vendor': 'Cisco',
        'model': '3850',
        'ios': '3.6.XE',
        'ip': '10.255.0.101'
    }
}

Получить значения из вложенного словаря можно так:

In [126]:
london_co['r1']['ios']

'15.4'

In [127]:
london_co['r1']['model']

'4451'

In [128]:
london_co['sw1']['ip']

'10.255.0.101'

Разные способы создания словаря:

In [129]:
a = dict(one=1, two=2, three=3)
b = {'one': 1, 'two': 2, 'three': 3}
c = dict(zip(['one', 'two', 'three'], [1, 2, 3]))  # сейчас функция zip не обязательна для понимания
d = dict([('two', 2), ('one', 1), ('three', 3)])
e = dict({'three': 3, 'one': 1, 'two': 2})
a == b == c == d == e

True

* **`keys`, `values`, `items`**

Метода словаря `keys` возвращает список ключей.

`values` возвращает список значений, соответствующих ключам из `keys`.

`items` возвращает список пар (ключ, значение).

In [130]:
london = {'name': 'London1', 'location': 'London Str', 'vendor': 'Cisco'}

london.keys()

dict_keys(['name', 'location', 'vendor'])

In [131]:
london.values()

dict_values(['London1', 'London Str', 'Cisco'])

In [132]:
london.items()

dict_items([('name', 'London1'), ('location', 'London Str'), ('vendor', 'Cisco')])

Все три метода возвращают специальные объекты `view`, которые отображают ключи, значения и пары ключ-значение словаря соответственно.

Очень важная особенность `view` заключается в том, что они меняются вместе с изменением словаря. И фактически они лишь дают способ посмотреть на соответствующие объекты, но не создают их копию.

На примере метода `keys`:

In [133]:
london = {'name': 'London1', 'location': 'London Str', 'vendor': 'Cisco'}

keys = london.keys()

print(keys)

dict_keys(['name', 'location', 'vendor'])

Сейчас переменной keys соответствует **view dict_keys**, в котором три ключа: **name**, **location** и **vendor**.

Если добавить в словарь еще одну пару ключ-значение, объект `keys` тоже поменяется:

In [134]:
london['ip'] = '10.1.1.1'

keys

dict_keys(['name', 'location', 'vendor', 'ip'])

Если нужно получить обычный список ключей, который не будет меняться с изменениями словаря, достаточно конвертировать `view` в список:

In [135]:
list_keys = list(london.keys())

list_keys

['name', 'location', 'vendor', 'ip']

* **`del`**

Удалить ключ и значение:

In [136]:
london = {'name': 'London1', 'location': 'London Str', 'vendor': 'Cisco'}

del london['name']

london

{'location': 'London Str', 'vendor': 'Cisco'}

* **`update`**

Метод `update` позволяет добавлять в словарь содержимое другого словаря:

In [137]:
r1 = {'name': 'London1', 'location': 'London Str'}

r1.update({'vendor': 'Cisco', 'ios':'15.2'})

r1

{'name': 'London1', 'location': 'London Str', 'vendor': 'Cisco', 'ios': '15.2'}

Аналогичным образом можно обновить значения:

In [138]:
r1.update({'name': 'london-r1', 'ios':'15.4'})

r1

{'name': 'london-r1',
 'location': 'London Str',
 'vendor': 'Cisco',
 'ios': '15.4'}

* **`dict.fromkeys`**

В ситуации, когда надо создать словарь с известными ключами, но пока что пустыми значениями (или одинаковыми значениями), очень удобен метод `fromkeys()`:

In [139]:
d_keys = ['hostname', 'location', 'vendor', 'model', 'ios', 'ip']

r1 = dict.fromkeys(d_keys)

r1

{'hostname': None,
 'location': None,
 'vendor': None,
 'model': None,
 'ios': None,
 'ip': None}

По умолчанию метод `fromkeys` подставляет значение **None**. Но можно указывать и свой вариант значения:

In [140]:
router_models = ['ISR2811', 'ISR2911', 'ISR2921', 'ASR9002']

models_count = dict.fromkeys(router_models, 0)

models_count

{'ISR2811': 0, 'ISR2911': 0, 'ISR2921': 0, 'ASR9002': 0}

## 5. Модель данных <a name="5Модель_данных"></a>

Любой объект в Python имеет идентификатор и тип.

### 5.1 Идентификатор объекта и `id`, `del`, `is` <a name="5.1Идентификатор_объекта_и_`id`,_`del`,_`is`"></a>

Идентификатор объекта в CPython - это положение (адрес) объекта в памяти.  
В Python любая переменная является указателем на объект:

In [141]:
a = int(4)

в этом случае переменная `a` указывает на объект типа `int`, значение которого равно `4`.

Имея доступ к переменной `a`, можно узнать адрес области памяти, на которую указывает `a`:

In [142]:
id(a)

140731955226512

* Функция `id` возвращает адрес объекта в памяти.

`id(a)` является идентификатором объекта, на который указывает переменная `a`.

_Адрес объекта - это целое число._  

Можно создать второй указатель `b` (или _переменную_ `b`), который будет указывать на объект, который расположен по адресу `id(a)`:

In [143]:
b = a
print("Адреса a и b равны:", id(b) == id(a))
print(a, b)

Адреса a и b равны: True
4 4

В случае, если переменная `a` теперь будет указывать на другой объект, старый объект никуда не пропадет, т.к. на него указывает переменная `b`:

In [144]:
a = float(5.5)
print('id(b)', id(b))
print('id(a)', id(a))

id(b) 140731955226512
id(a) 2227485350864

Теперь на объект `int(4)` указывает только переменная `b`.  
Если указатель `b` перенаправить на новый объект, например `b = int(5)`, то старый объект `int(4)` удалится из памяти, т.к. больше не осталось указателей на него.

Можно и явно удалить ссылку на объект с помощью оператора `del`:

In [145]:
del b

* Оператор `del` удаляет ссылку на объект. 

После удаления указателя `b` к нему уже нельзя обратиться. А объект `int(4)` удален из памяти, т.к. на него не осталось указателей.

In [146]:
b

NameError: name 'b' is not defined

##### Пример 1

In [147]:
ll = [1,3,5]  # создадим простой list
l = [3,6,2,0,'str',ll]  #  последним элементом этого list будет вложенный list ll

In [148]:
id(ll), id(l[-1])

(2227485431296, 2227485431296)

In [149]:
print("Адреса ll и l[-1] равны:", id(l[-1])==id(ll))

Адреса ll и l[-1] равны: True

Удалим последний элемент списка `l`:

In [150]:
del l[-1]
l

[3, 6, 2, 0, 'str']

In [151]:
id(ll)

2227485431296

Удаление последнего элемента `l` прошло успешно, но объект `[1,3,5]` из памяти не удален, т.к. на него остался указатель `ll`.

##### Пример 2

Если, наоборот, удалить сначала `ll`, то объект `[1,3,5]` все равно останется в памяти, т.к. на него остался указатель, расположенный в конце списка `l`:

In [152]:
l.append(ll)
l

[3, 6, 2, 0, 'str', [1, 3, 5]]

In [153]:
id(ll)==id(l[-1])

True

In [154]:
del ll
print(l)
print(id(l[-1]))

[3, 6, 2, 0, 'str', [1, 3, 5]]
2227485431296

Теперь при обращении к указателю `ll` возникнет ошибка, т.к. этот указатель был удален:

In [155]:
ll

NameError: name 'll' is not defined

##### Пример 3
Если id объектов совпадают, значит это один и тот же объект, даже если имена переменных, которые ссылаются на этот объект - разные.

In [156]:
l = [3,6,2,0,'str']
a = l
b = l
id(l), id(a), id(b)

(2227484583552, 2227484583552, 2227484583552)

In [157]:
id(l) == id(a) == id(b)

True

Python по умолчанию не копирует объекты, он лишь присваивает ссылки.

Если мы внесем изменения в переменную `l`, то увидим, что эти изменения отразятся и для переменных `a` и `b`.

In [158]:
l.append(99)
l

[3, 6, 2, 0, 'str', 99]

In [159]:
a[-1], b[-1]

(99, 99)

##### Пример 4
Если мы создадим новый список с нуля, пусть и с теми же значениями как у `l`, ему присвоится какой-то новый адрес в памяти, отличный от тех, что уже зарезервированы:

In [160]:
ll = [3,6,2,0,'str',99]
id(ll), id(l)

(2227485271936, 2227484583552)

In [161]:
id(ll) == id(l)

False

_Чтобы создать новый объект "с нуля", т.е. выделить ему новый адрес в памяти, нужно воспользоваться конструктором класса того типа, объект которого вы хотите создать._

* Оператор `is` сравнивает `id` двух объектов

`a is b` эквивалентно `id(a) == id(b)`

In [162]:
a = 4
b = 5
a is b

False

In [163]:
b = a
a is b

True

### 5.2 Тип объекта, `type`, основы ООП <a name="5.2Тип_объекта,_`type`,_основы_ООП"></a>
* Функция `type(x)` возвращает тип объекта `x`:

In [164]:
a = 1
type(a)

int

В Python понятие типа объекта тесно связано с ООП (объектно-ориентированным программированием).  
**Тип** объекта это тоже самое что и **класс** объекта.  
Класс задает поведение всех **экземпляров** этого класса.  

Создадим класс целых чисел:

In [199]:
class MyType:
    def __init__(self):
        print('Инициализация')

`class MyType` объявляет новый тип или класс с названием `MyType`  

Т.к. в Python все является объектом, наш новый класс `MyType` тоже хранится в оперативной памяти, правда, всегда в единственном экземпляре, т.к. это описание поведения всех экземпляров этого типа.

In [166]:
id(MyType)

2227473560128

Типом объекта `MyType`, а также любого другого класса, включая базовый класс `object`, является `type`:

In [438]:
type(MyType), type(object)

(type, type)

#### Словарь терминов:

1. **функция `type` | `type(x)` | функция `type(x)`**  
Функция `type(x)` возвращает тип объекта `x`.

2. **тип | тип объекта | класс объекта | класс**  
Тип любого объекта.

3. **тип type | тип "класс"**  
Тип объекта "класс".

4. **класс object**  
Базовый класс для всех классов.

Создадим два экземпляра класса `MyType`:

In [201]:
a = MyType()
b = MyType()
print("types:", type(a), type(b))
print("ids:", id(MyType), id(a), id(b))

Инициализация
Инициализация
types: <class '__main__.MyType'> <class '__main__.MyType'>
ids: 2227473552576 2227484568208 2227484569024

Видно, что `id` класса `MyType` и `id` всех его экземпляров отличаются.

Экземпляр класса создается специальной процедурой инициализации, которая описывается в обязательном методе `__init__`.

Чтобы создать экземпляр класса, т.е. запустить процедуру инициализации, нужно рядом с именем класса поставить скобки: `MyType()`. Такая запись вернет ссылку на новый созданный экземпляр класса `MyType`.  
Процедура инициализации подразумевает выделение памяти под создаваемый объект-экземпляр класса.

_Если метод `__init__` не был определен, будет использован `__init__` класса `object`, т.к. любой объект наследуется от него._

Допишем класс `MyType` так, чтобы при создании экземпляра класса, передавалось и запоминалось значение:

In [168]:
class MyType:
    def __init__(self, v):
        print('Инициализация')
        self.v = v

* ссылка на самого себя `self`

Методы класса являются функциями, отличие от обычной функции заключается в том, что существует обязательный аргумент: ссылка на экземпляр класса.

Обычно этот аргумент обозначают как `self`, он является указателем на конкретный экземпляр класса.

Передадим в конструктор конкретную переменную, указывающую на число `v` в качестве аргумента для `__init__`  
После передачи `v`, создадим одноименный атрибут экземпляра класса с помощью `self.v = v`  
Такая конструкция к ссылке на экземпляр класса `self` привязывает атрибут `v`, который указывает на тот же адрес, что и входной аргумент конструктора `v`.

In [169]:
a = MyType(4)
b = MyType(5)
print(a.v, b.v)

Инициализация
Инициализация
4 5

Покажем, что `self.v` сохраняет только ссылку на входной объект `v`:

In [170]:
a = [1,4,3]
b = MyType(a)
print(id(a) == id(b.v))
a.append(99)
print(b.v)

Инициализация
True
[1, 4, 3, 99]

Приведем пример описания дополнительного функционала класса, например, напишем метод, который умножает значение `self.v` на два:

In [489]:
class MyType:
    def __init__(self, v):
        print('Инициализация')
        self.v = v
    
    def get_double(self):
        return self.v*2

In [490]:
b = MyType(8)
b.get_double()

Инициализация

16

***Примечание:***  
_Поменять формальный тип объекта во время выполнения программы (at runtime) нельзя, хотя можно менять атрибуты объекта, включая методы._


##### Пример 1
Покажем, что объект типа переменной не меняет `id`:

In [493]:
a = 4
type(a) is int, id(type(a)) == id(int)

(True, True)

In [494]:
b = 5
type(b) is int, id(type(b)) == id(int)

(True, True)

Адрес типа переменной `a` и адрес класса `int` равны, аналогично для любого другого экземпляра класса `int`.

### 5.3 `None` <a name="5.3`None`"></a>
В Python есть тип/класс/объект `None`:

In [173]:
None

In [174]:
id(None)

140731954993280

Этот объект всегда создается в единственном экземпляре и обозначает отсутствие значения.  
Запись `a = None` означает, что для переменной `a` не определено поведение/класс/тип/экземпляр класса.

In [175]:
a = None

Значение `None` нужно для того, чтобы обозначить неопределенность. Например, если на вход функции подается объект, для которого логика не определена, функция вернет `None`:

In [176]:
def return_str_if_int(v):
    """
    Возвращает строковое представление объекта, если объект является экземпляром типа int.
    В противном случае возвращает None.
    """
    if type(v) == int:
        return str(v)
    else:
        return None

In [177]:
return_str_if_int(5)

'5'

In [178]:
return_str_if_int(5.9)  # вернул None

Теперь научимся правильно определять, что объект является `None`  
Для этого используйте оператор `is`:

In [180]:
return_str_if_int(5.9) is None

True

Не используйте оператор логического сравнения `==`, т.к. этот оператор вызывает метод `__eq__` объекта, а любой метод можно переопределить.

In [182]:
## !!! WARNING
return_str_if_int(5.9) == None  # часто верно, но не надежно.

True

теперь сравним адреса разных вариантов получения `None`:

In [183]:
id(None) == id(a) == id(return_str_if_int(5.9))

True

Как уже отмечалось, объект `None` создается в единственном экземпляре, поэтому в каком бы месте кода вы его не использовали, все варианты `None` будут иметь одинаковый `id`.

### 5.4 Изменяемые и неизменяемые типы <a name="5.4Изменяемые_и_неизменяемые_типы"></a>

Встроенные (built-in) типы в Python делятся на неизменяемые и изменяемые:

**неизменяемые (immutable):**
* `type`
* `int`
* `float`
* `complex`
* `bool`
* `tuple`
* `str`
* `frozen set`

**изменяемые (mutable)**
* `list`
* `set`
* `dict`

Immutable не поддерживают изменения значений. Любая операция с immutable-объектом вернет объект с новым `id`  Mutable объекты можно изменять in-place, т.е. с сохранением `id`:

In [192]:
a = int(4)
print(id(a))
a += 1
print(id(a))  # id изменился

140731955226512
140731955226544

In [193]:
a = [1,2,3]
print(id(a))
a += [4,5]
print(id(a))  # id не изменился

2227483459904
2227483459904

Объект является immutable только в случае, если все ссылки этого объекта указывают на immutable объекты.  
Т.е. можно создать `tuple`, элементы которого можно менять:

In [224]:
a = [1,2,3]
t = (a, [4,5], 0, 'str')

In [225]:
type(t), t, id(t)

(tuple, ([1, 2, 3], [4, 5], 0, 'str'), 2227485328544)

In [226]:
old_id = id(t)

In [227]:
a += [4]
t[1].append(6)
t, id(t)

(([1, 2, 3, 4], [4, 5, 6], 0, 'str'), 2227485328544)

In [228]:
new_id = id(t)
old_id == new_id

True

Только что мы изменили элементы immutable объекта!  Наши операции изменения применялись к объектам, ссылки на которые хранятся в `tuple`, поэтому сам `tuple` не видит наших изменений.

##### Пример 1
Операция изменения immutable объекта возвращает нужные нам измененные значения, но `id` объекта изменится:

In [229]:
old_id = id(t)

t += (0,99)

new_id = id(t)
old_id == new_id

False

In [230]:
t

([1, 2, 3, 4], [4, 5, 6], 0, 'str', 0, 99)

### 5.5 Хеширование, `hash`, `in` <a name="5.5Хеширование,_`hash`,_`in`"></a>

Возможность посчитать хеш от объекта нужна для ускорения операции сравнения элементов. Если хеши элементов не равны, то тем более не равны их значения. Приведем пример со словарем со строковыми ключами:

In [319]:
d = {'key0': 0, 'key1': 0}

Попытаемся обратиться к ключу словаря со строковым значением из переменной `key_to_call`:

In [322]:
key_to_call = 'key1'
d[key_to_call]

0

При обращении к ключу словаря выполняется сравнение `key_to_call` со **всеми** имеющимися в словаре ключами, пока не найдется совпадения. Если совпадения не нашлось, поймаем ошибку:

In [323]:
key_to_call = 'key3'
d[key_to_call]

KeyError: 'key3'

Если представить, что в словаре очень много ключей, а также каждый ключ - это очень длинная строка, то операция посимвольного сравнения с каждой строкой станет очень дорогой. Для ускорения сначала хеш `key_to_call` сравнивается с заранее посчитанными хешами ключей словаря.

`dict` и `set` реализованы с помощью хеш-таблицы.
```


```
* функция `hash(x)`  

Возвращает хеш объекта `x`.

***Примечание:***  
Функция `hash(x)` реализована с помощью вызова `x.__hash__()`.

In [355]:
hash('str')

-3672813010035962707

In [359]:
hash('aaaaaaaaaaaaaaaaaaaaaaaaaassssssssssssssssssssssssssdddddddddddddddddddddddasdffgdhdfhkgfhgf')

2927618832493777352

In [361]:
hash(5), hash(123456789)

(5, 123456789)

In [362]:
hash(5.5)

1152921504606846981

* оператор `in`

`a in b` ищет вхождение `a` в коллекции `b`. Если `a` есть в `b`, вернется `True`, иначе `False`.  

***Примечание:***  
_Оператор `a in b` реализован с помощью вызова `b.__contains__(a)`_

***Примечание:***  
_Для `dict` и `set` этот оператор работает очень быстро, т.к. сначала сравнивает элементы с помощью хешей._

##### Пример 1

In [326]:
d

{'key0': 0, 'key1': 0}

In [324]:
key_to_call = 'key1'
key_to_call in d

True

In [325]:
key_to_call = 'key3'
key_to_call in d

False

##### Пример 2

In [327]:
l = [0,1,2,3,'1','2','Python',1.1]

In [328]:
'1' in l

True

In [329]:
1.1 in l

True

In [330]:
1.2 in l

False

##### Пример 3
Покажем, что поиск элемента в `dict` и `set` происходит гораздо быстрее чем в других коллекциях, не использующих хеш-таблицу.  
Создадим словарь с большим количеством длинных ключей-строк:

In [331]:
keys_n = 10**2  # количество ключей
str_larger_k = 10  # просто мультипликатор строки, чтобы сделать ее длиннее

keys = ['large_str_{}_...'.format(i)*str_larger_k for i in range(keys_n)]  # получаем длинный список длинных ключей

d = dict(zip(keys, [0 for i in range(keys_n)]))  # создадим dict с этими ключами, значения везде оставим 0 
l = list(keys)  # создадим set, где значения являются созданными выше keys
s = set(keys)  # создадим list, где значения являются созданными выше keys
t = tuple(keys)  # создадим tuple, где значения являются созданными выше keys

len(d), len(s), len(l), len(t)

(100, 100, 100, 100)

In [334]:
o0 = 'str'  # значение для поиска в коллекции
o1 = (keys[keys_n//2]+'.')[:-1]  # второе значение для поиска в коллекции

o0 in d, o1 in d

(False, True)

In [335]:
o1

'large_str_50_...large_str_50_...large_str_50_...large_str_50_...large_str_50_...large_str_50_...large_str_50_...large_str_50_...large_str_50_...large_str_50_...'

In [340]:
search_k = 10**6  # технический коэффициент: количество повторений выполнения операторов in

In [341]:
%%time
print('dict:')
for i in range(search_k):
    o0 in d
    o1 in d

dict:
Wall time: 181 ms

In [342]:
%%time
print('set:')
for i in range(search_k):
    o0 in s
    o1 in s

set:
Wall time: 172 ms

In [343]:
%%time
print('list:')
for i in range(search_k):
    o0 in l
    o1 in l

list:
Wall time: 2.16 s

In [344]:
%%time
print('tuple:')
for i in range(search_k):
    o0 in t
    o1 in t

tuple:
Wall time: 2.08 s

Видно, что поиск элемента в `dict` или `set` занимает более чем в `2 sec / 200 ms = 10` раз меньше чем поиск в `list` или `tuple`.
```



```
Метод `x.__hash__()` по умолчанию возвращает `id(x)/16`.  
Чтобы показать это, создадим экземпляр базового класса `object`:

In [367]:
o = object()
hash(o)*16 == id(o)

True

In [368]:
hash(o), id(o)

(139219363543, 2227509816688)

Среди built-in типов **hashable** только объекты **immutable** типов.

***Примечание:***  
Объект `x` hashable - значит, есть возможность посчитать хеш, т.е. функция `hash(x)` отработает корректно.

### 5.6 Свойства элементов коллекций `set` и `dict` <a name="5.6Свойства_элементов_коллекций_`set`_и_`dict`"></a>
Т.к. обращение к элементам этих коллекций реализовано через хеш-таблицу, элементы `set` и ключи `dict` должны быть **hashable**.

Также для элементов `set` и ключей `dict` рекомендуется использовать только объекты built-in **immutable** типов.

##### Пример 1
Некорректная работа `dict` при использовании unhashable объекта:

In [442]:
d = {
    'key_name': 99,
    5: 88,
    [1,2,3]: 77,
}

TypeError: unhashable type: 'list'

##### Пример 2
Корректная работа `dict` при использовании hashable объектов:

In [445]:
d = {
    'key_name': 99,
    5: 88,
    (1, 2, 3): 77,
}

In [446]:
d[(1,2,3)]

77

##### Пример 3
Некорректная работа `set` при использовании unhashable объекта типа `tuple` в качестве ключа:

In [450]:
set([(1,2,[1,]),])

TypeError: unhashable type: 'list'

##### Пример 4*
Некорректная работа `set` с кастомным классом:

In [423]:
class MyClass(object):
    def __init__(self, v):
        self.v = v
    def __hash__(self):
        return self.v
    def __eq__(self, other):
        return self.v == other.v

In [424]:
a = MyClass(4)
s = set([a,])

In [425]:
MyClass(4) in s

True

In [426]:
a.v = 5

In [427]:
MyClass(5) in s, MyClass(4) in s, a in s

(False, False, False)

In [428]:
for x in s:
    print(x.v)

5

### 5.7 Неочевидное поведение Python при создании объектов <a name="5.7Неочевидное_поведение_Python_при_создании_объектов"></a>

Параграфы 5.1-5.6 описывают общее поведение Python в управлении памятью. Однако в Python существуют оптимизации встроенных типов данных, которые выбиваются из общей логики.

##### Пример 1

In [452]:
a = int(5)  # то же самое, что и a = 5
b = int(5)
id(a) == id(b)

True

В примере выше были созданы два экземпляра класса `int`, была произведена процедура инициализации `int(v)` для каждого экземпляра, однако адреса обоих экземпляров равны.

Это происходит потому, что Python хранит небольшие целые числа в единственном экземпляре для экономии места, т.к. небольшие целые значения часто используются вообще.

Однако для больших целых или `float` поведение становится обычным:

In [451]:
a = int(512345)
b = int(512345)
id(a) == id(b)

False

In [189]:
a = 5.1
b = 5.1
id(a) == id(b)

False

##### Пример 2
Конструкция `[]` (аналог `list()`) инициализирует новый пустой список.  
Если создать два списка таким образом, их `id` будут различаться:

In [463]:
a = []
b = []
id(a)==id(b)

False

Однако, при создании списка через умножение списков, вложенный список будет множиться как ссылка на один и тот же экземпляр:

In [480]:
l = [[]]*2
l

[[], []]

In [481]:
l[0].append(1)  # добавим 1 только к первому вложенному списку
l

[[1], [1]]

То же самое произойдет и с не пустым списком:

In [484]:
l = [[1,]]*2
l

[[1], [1]]

In [485]:
l[0].append(22)
l

[[1, 22], [1, 22]]

Если вместо умножения использовать сложение, то такого эффекта не будет:

In [486]:
l = [[]]+[[]]
l[0].append(1)
l

[[1], []]

##### Пример 3

Создание словаря с помощью `dict.fromkeys(list, value)`  
При использовании изменяемого типа данных в качестве значения ключей, будет создана ссылка на один и тот же объект:

In [487]:
router_models = ['ISR2811', 'ISR2911', 'ISR2921', 'ASR9002']

routers = dict.fromkeys(router_models, [])

routers

{'ISR2811': [], 'ISR2911': [], 'ISR2921': [], 'ASR9002': []}

In [488]:
routers['ASR9002'].append('london_r1')

routers

{'ISR2811': ['london_r1'],
 'ISR2911': ['london_r1'],
 'ISR2921': ['london_r1'],
 'ASR9002': ['london_r1']}

В данном случае каждый ключ ссылается на один и тот же список. Поэтому, при добавлении значения в один из списков обновляются и остальные.

## 6. Встроенные типы данных: продолжение <a name="6Встроенные_типы_данных:_продолжение"></a>
### 6.1 Преобразование в тип `bool` <a name="6.1Преобразование_в_тип_`bool`"></a>
Когда объект типа `bool` создается с помощью `bool(x)`, то входной аргумент `x` преобраховывается к `bool` по некоторой логике:

In [496]:
bool(0), bool(1), bool(2), bool(-1)

(False, True, True, True)

In [497]:
bool(0.0), bool(-1.5), bool(2.5)

(False, True, True)

In [498]:
bool(''), bool('abc')

(False, True)

In [501]:
bool(None), bool(int), bool(object), bool(MyClass)

(False, True, True, True)

`True`:

* любое ненулевое число
* любая непустая строка
* любой объект не являющийся None

`False`:

* 0
* None
* пустая строка

### 6.2 Числа: системы счистления, модуль `math` <a name="6.2Числа:_системы_счистления,_модуль_`math`"></a>
Функция `bin` позволяет получить двоичное представление числа (обратите внимание, что результат - строка):

In [32]:
bin(8)

'0b1000'

In [33]:
bin(255)

'0b11111111'

Аналогично, функция `hex()` позволяет получить шестнадцатеричное значение:

In [503]:
hex(10), hex(15)

('0xa', '0xf')

##### Пример 1
Преобразование строки в шестнадцатеричное число:

In [35]:
int('ff', 16)

255

In [36]:
bin(int('ff', 16))

'0b11111111'

```



```
Для более сложных математических функций в Python есть модуль `math`:

In [507]:
import math

math.sqrt(9), math.sqrt(10)

(3.0, 3.1622776601683795)

In [508]:
math.factorial(3)

6

In [510]:
math.pi

3.141592653589793

### 6.3 Преобразования типов между коллекциями

In [527]:
s = 'router'
list1 = list(s)
print(list1)
print(set(s))
print(set(list1))
print(str(list1))

['r', 'o', 'u', 't', 'e', 'r']
{'t', 'o', 'r', 'u', 'e'}
{'t', 'o', 'r', 'u', 'e'}
['r', 'o', 'u', 't', 'e', 'r']

### 6.4 Алгебра множеств (`set`)

In [525]:
a = {1,2,3,4}
b = {2,4,5,6}

In [514]:
a | b, a.union(b)  # объединение

{1, 2, 3, 4, 5, 6}

In [513]:
a & b, a.intersection(b)  # пересечение

{1, 2, 3, 4}

In [520]:
a - b, a.difference(b)  # разность: элементы a, которых нет в b

({1, 3}, {1, 3})

In [522]:
# симметрическая разность: элементы, которые присутстуют только в одном из множеств
a ^ b, (a | b) - (a & b), a.symmetric_difference(b)

({1, 3, 5, 6}, {1, 3, 5, 6}, {1, 3, 5, 6})

In [526]:
a

{1, 2, 3, 4}

### 6.5 dict

### 6.6 Строки <a name="Строки"></a>

In [528]:
# TODO
# set arifmetics for *args
# regex
# "''"
# frozenset
# set([]), dict(zip), zip, list("str")

Функция `sorted` сортирует ключи словаря по возрастанию и возвращает новый список с отсортированными ключами:

In [138]:
london = {'name': 'London1', 'location': 'London Str', 'vendor': 'Cisco'}

sorted(london)

['location', 'name', 'vendor']

#### 4.4.1 Полезные методы для работы со словарями

* **`clear`**

Метод `clear` позволяет очистить словарь:

In [139]:
london = {'name': 'London1', 'location': 'London Str'}

london.clear()

london

{}

* **`copy`**

Метод `copy` позволяет создать полную копию словаря.

Если указать, что один словарь равен другому:

In [140]:
london = {'name': 'London1', 'location': 'London Str', 'vendor': 'Cisco'}

london2 = london

id(london)

2113452296192

In [141]:
id(london2)

2113452296192

In [142]:
london['vendor'] = 'Juniper'

london2['vendor']

'Juniper'

В этом случае **london2** это еще одно имя, которое ссылается на словарь. И при изменениях словаря **london** меняется и словарь **london2**, так как это ссылки на один и тот же объект.

Поэтому, если нужно сделать копию словаря, надо использовать метод `copy()`:

In [143]:
london = {'name': 'London1', 'location': 'London Str', 'vendor': 'Cisco'}

london2 = london.copy()

id(london)

2113469167872

In [144]:
id(london2)

2113469797568

In [145]:
london['vendor'] = 'Juniper'

london2['vendor']

'Cisco'

* **`get`**

Если при обращении к словарю указывается ключ, которого нет в словаре, возникает ошибка:

In [146]:
london = {'name': 'London1', 'location': 'London Str', 'vendor': 'Cisco'}

london['ios']

KeyError: 'ios'

Метод `get` запрашивает ключ, и если его нет, вместо ошибки возвращает **None**.

In [147]:
london = {'name': 'London1', 'location': 'London Str', 'vendor': 'Cisco'}

print(london.get('ios'))

None

Метод `get()` позволяет также указывать другое значение вместо **None**:

In [148]:
print(london.get('ios', 'Ooops'))

Ooops

* **`setdefault`**

Метод `setdefault` ищет ключ, и если его нет, вместо ошибки создает ключ со значением **None**.

In [149]:
london = {'name': 'London1', 'location': 'London Str', 'vendor': 'Cisco'}

ios = london.setdefault('ios')

print(ios)

None

In [150]:
london

{'name': 'London1', 'location': 'London Str', 'vendor': 'Cisco', 'ios': None}

Если ключ есть, `setdefault` возвращает значение, которое ему соответствует:

In [151]:
london.setdefault('name')

'London1'

Второй аргумент позволяет указать, какое значение должно соответствовать ключу:

In [152]:
model = london.setdefault('model', 'Cisco3580')

print(model)

Cisco3580

In [153]:
london

{'name': 'London1',
 'location': 'London Str',
 'vendor': 'Cisco',
 'ios': None,
 'model': 'Cisco3580'}

Метод `setdefault` заменяет такую конструкцию:

```python
if key in london:
    value = london[key]
else:
    london[key] = 'somevalue'
    value = london[key]
```

* **`clear()`**

Метод `clear()` очищает множество:

In [209]:
d = {1: 'int_one', 1.0: 'float_one'}
d

{1: 'float_one'}

* **`join`**

Метод `join` собирает список строк в одну строку с разделителем, который указан перед `join`:

In [117]:
vlans = ['10', '20', '30']

','.join(vlans)

'10,20,30'

*Примечание:*

Метод `join` на самом деле относится к строкам, но так как значение ему надо передавать как список, он рассматривается тут.

TODO (?) Можно изменять целые срезы:

In [50]:
l[2:4] = [2,3]
l

[0, 20, 2, 3, 88, 99]

#### 4.2.1  Полезные методы для работы со строками:

* **Методы `upper`, `lower`, `swapcase`, `capitalize`**

Методы `upper()`, `lower()`, `swapcase()`, `capitalize()` выполняют преобразование регистра строки:

Строки - неизменяемый тип данных, поэтому все методы, которые преобразуют строку - возвращают новую строку, а исходная строка остается неизменной.

In [2]:
string1 = 'FastEthernet'

In [3]:
string1.upper(), string1

('FASTETHERNET', 'FastEthernet')

In [64]:
string1.lower()

'fastethernet'

In [65]:
string1.swapcase()

'fASTeTHERNET'

In [66]:
string2 = 'tunnel 0'

In [67]:
string2.capitalize()

'Tunnel 0'

* **Метод `count`**

Метод `count()` используется для подсчета того, сколько раз символ или подстрока встречаются в строке:

In [68]:
string1 = 'Hello, hello, hello, hello'

In [69]:
string1.count('hello')

3

In [70]:
string1.count('ello')

4

In [71]:
string1.count('l')

8

* **Метод `find`**

Методу `find()` можно передать подстроку или символ, и он покажет, на какой позиции находится первый символ подстроки (для первого совпадения).

Если совпадение не найдено, метод `find` возвращает -1.

In [72]:
string1 = 'interface FastEthernet0/1'

In [73]:
string1.find('Fast')

10

In [74]:
string1[string1.find('Fast')::]

'FastEthernet0/1'

* **Методы `startswith`, `endswith`**

Проверка на то, начинается или заканчивается ли строка на определенные символы (методы `startswith()`, `endswith()`):

In [75]:
string1 = 'FastEthernet0/1'
string1.startswith('Fast')

True

In [76]:
string1.startswith('fast')

False

In [77]:
string1.endswith('0/1')

True

In [78]:
string1.endswith('0/2')

False

Методам `startswith()` и `endswith()` можно передавать несколько значений (обязательно как кортеж):

In [79]:
"test".startswith(("r", "t"))

True

In [80]:
"test".startswith(("r", "a"))

False

In [81]:
"rtest".startswith(("r", "a"))

True

In [82]:
"rtest".endswith(("r", "a"))

False

In [83]:
"rtest".endswith(("r", "t"))

True

* **Метод `replace`**

Замена последовательности символов в строке на другую последовательность (метод `replace()`):

In [84]:
string1 = 'FastEthernet0/1'

In [85]:
string1.replace('Fast', 'Gigabit')

'GigabitEthernet0/1'

* **Метод `strip`**

Часто при обработке файла файл открывается построчно. Но в конце каждой строки, как правило, есть какие-то спецсимволы (а могут быть и в начале). Например, перевод строки.

Для того, чтобы избавиться от них, очень удобно использовать метод `strip()`:

In [86]:
string1 = '\n\tinterface FastEthernet0/1\n'
print(string1)

	interface FastEthernet0/1

In [87]:
string1

'\n\tinterface FastEthernet0/1\n'

In [88]:
string1.strip()

'interface FastEthernet0/1'

По умолчанию метод `strip()` убирает пробельные символы. В этот набор символов входят: \t\n\r\f\v

Методу `strip` можно передать как аргумент любые символы. Тогда в начале и в конце строки будут удалены все символы, которые были указаны в строке:

In [89]:
ad_metric = '[110/1045]'
ad_metric.strip('[]')

'110/1045'

Метод `strip()` убирает спецсимволы и в начале, и в конце строки. Если необходимо убрать символы только слева или только справа, можно использовать, соответственно, методы `lstrip()` и `rstrip()`.

* **Метод `split`**

Метод `split()` разбивает строку на части, используя как разделитель какой-то символ (или символы) и возвращает список строк:

In [90]:
string1 = 'switchport trunk allowed vlan 10,20,30,100-200'
commands = string1.split()
print(commands)

['switchport', 'trunk', 'allowed', 'vlan', '10,20,30,100-200']

В примере выше `string1.split()` разбивает строку по пробельным символам и возвращает список строк. Список записан в переменную commands.

По умолчанию в качестве разделителя используются пробельные символы (пробелы, табы, перевод строки), но в скобках можно указать любой разделитель:

In [91]:
lt = commands[-1].split(',')
print(lt)

['10', '20', '30', '100-200']

Используется индекс -1, чтобы вывести последний элемент в массиве. Затем строка разбивается на части с помощью `split` `commands[-1].split(',')`. Так как, как разделитель указана запятая, получен такой список ['10', '20', '30', '100-200'].

Пример разделения адреса на октеты:

In [92]:
ip = "192.168.100.1"
ip.split(".")

['192', '168', '100', '1']

Полезная особенность метода `split` с разделителем по умолчанию — строка не только разделяется в список строк по пробельным символам, но пробельные символы также удаляются в начале и в конце строки:

In [93]:
string1 = '  switchport trunk allowed vlan 10,20,30,100-200\n\n'

string1.split()

['switchport', 'trunk', 'allowed', 'vlan', '10,20,30,100-200']

У метода `split()` есть ещё одна хорошая особенность: по умолчанию метод разбивает строку не по одному пробельному символу, а по любому количеству.

In [94]:
sh_ip_int_br = "FastEthernet0/0       15.0.15.1    YES manual up         up"
sh_ip_int_br.split()

['FastEthernet0/0', '15.0.15.1', 'YES', 'manual', 'up', 'up']

А вот так выглядит разделение той же строки, когда один пробел используется как разделитель:

In [95]:
sh_ip_int_br.split(' ')

['FastEthernet0/0',
 '',
 '',
 '',
 '',
 '',
 '',
 '15.0.15.1',
 '',
 '',
 '',
 'YES',
 'manual',
 'up',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'up']

#### 4.2.2   Форматирование строк

При работе со строками часто возникают ситуации, когда в шаблон строки надо подставить разные данные.

Это можно делать объединяя, части строки и данные, но в Python есть более удобный способ — форматирование строк.

Форматирование строк может помочь, например, в таких ситуациях:

- необходимо подставить значения в строку по определенному шаблону
- необходимо отформатировать вывод столбцами
- надо конвертировать числа в двоичный формат

Существует несколько вариантов форматирования строк:

- с оператором `%` — более старый вариант
- метод `format()` — относительно новый вариант
- f-строки — новый вариант, который появился в Python 3.6.

Несмотря на то, что рекомендуется использовать метод `format`, часто можно встретить форматирование строк и через оператор `%`.

* **Метод `format`**

Пример использования метода `format`:

In [96]:
"interface FastEthernet0/{}".format('1')

'interface FastEthernet0/1'

Специальный символ `{}` указывает, что сюда подставится значение, которое передается методу `format`. При этом каждая пара фигурных скобок обозначает одно место для подстановки.

Значения, которые подставляются в фигурные скобки, могут быть разного типа. Например, это может быть строка, число или список:

In [97]:
print('{}'.format('10.1.1.1'))

10.1.1.1

In [98]:
print('{}'.format(100))

100

In [99]:
print('{}'.format([10, 1, 1,1]))

[10, 1, 1, 1]

* **Метод `f-строка`**

В Python 3.6 добавился новый вариант форматирования строк - `f-строки` или интерполяция строк. `F-строки` позволяют не только подставлять какие-то значения в шаблон, но и позволяют выполнять вызовы функций, методов и т.п.

Во многих ситуациях `f-строки` удобней и проще использовать, чем `format`, кроме того, `f-строки` работают быстрее, чем `format` и другие методы форматирования строк.

Синтаксис:
`F-строки` — это литерал строки с буквой `f` перед ним. Внутри `f-строки` в паре фигурных скобок указываются имена переменных, которые надо подставить:

In [100]:
ip = '10.1.1.1'
mask = 24

f"IP: {ip}, mask: {mask}"

'IP: 10.1.1.1, mask: 24'

Аналогичный результат с `format` можно получить так:

In [101]:
"IP: {ip}, mask: {mask}".format(ip=ip, mask=mask)

'IP: 10.1.1.1, mask: 24'

Очень важное отличие `f-строк` от `format`: `f-строки` — это выражение, которое выполняется, а не просто строка. То есть, в случае с jupyter, как только мы написали выражение и нажали Enter, оно выполнилось и вместо выражений `{ip}` и `{mask}` подставились значения переменных.

Поэтому, например, нельзя сначала написать шаблон, а затем определить переменные, которые используются в шаблоне:

In [102]:
f"IP: {ip_1}, mask: {mask_2}"

NameError: name 'ip_1' is not defined

Кроме подстановки значений переменных, в фигурных скобках можно писать выражения:

In [103]:
first_name = 'William'

second_name = 'Shakespeare'

In [104]:
f"{first_name.upper()} {second_name.upper()}"

'WILLIAM SHAKESPEARE'

После двоеточия в f-строках можно указывать те же значения, что и при использовании format:

In [105]:
oct1, oct2, oct3, oct4 = [10, 1, 1, 1]

print(f'''
    : IP address:
    : {oct1:<8} {oct2:<8} {oct3:<8} {oct4:<8}
    : {oct1:08b} {oct2:08b} {oct3:08b} {oct4:08b}''')

    : IP address:
    : 10       1        1        1
    : 00001010 00000001 00000001 00000001

Полезное: # TODO

In [160]:
print("hotel 'Moscow'")

hotel 'Moscow'